#set($layout = "layout/oa_layout.vm")
<style type="text/css">
    td input {
        width: 100%;
        text-align: center;
        color: red;
        font-size: larger;
    }

    td {
        text-align: center;
    }


</style>
<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-9">
            <div class="widget-box">
                <div class="widget-header header-color-blue" style="text-align:center">
                    <h1 class="bigger lighter">您无权使用该功能</h5>
                </div>
            </div>

        </div>
    </div>
</div>



