#set($layout = "layout/default.vm")
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Qunar 日常报销系统</title>
<base href="/oaengine/"></base>
</head>
<body bgcolor="#FFFFFF">
	<script
		src="https://qsso.corp.qunar.com/lib/qsso-auth.js?t=1">
	</script>
	<div align="center" style="margin-top:8%">
	<table style="text-align: center;">
		<tr>
			<td colspan="2" height="100px">
					<img src="images/logo.png" border="0" alt="" />
			</td>
		</tr>
		<tr>
			<td height="30px" style="color:red; font-size: 30px; text-align: center; font-weight: bolder; letter-spacing: 2px;" >[请使用Chrome或FireFox浏览器]</td>
		</tr>
		<tr>
			<td><br/></td>
		</tr>
		<tr>
			<td height="30px" style="color:red; font-size: 20px; text-align: center; font-weight: bolder; letter-spacing: 2px;" >[目前只支持技术、度假、门票、机票、无线，还请其他部门报销的小伙伴们移步到<a href='http://oa.corp.qunar.com'>OA</a>]</td>
		</tr>
#if("$!{message}"!="")
		<tr>
			<td height="30px" style="color:red; font-size: 20px; text-align: center; font-weight: bolder; letter-spacing: 2px;" >$message</td>
		</tr>	
#end
		
		<tr>
			<td height="40px"
				style="font-size: 23px; text-align: center; font-weight: bolder; letter-spacing: 2px;" >工作流引擎控制台</td>
		</tr>
		<tr>
			<td style="font-size: 15px; text-align: center;">
				<button id="qsso-login" class="qsso_button">QSSO登录</button>
			</td>
		</tr>
	</table>
	</div>
	<script>
		QSSO.attach('qsso-login', '$request.getContextPath()/oa/login');
	</script>
</body>
</html>


