#set($layout = "layout/oa_layout.vm")
<div class="row">
<div class="col-xs-12">
    <iframe style="display:none" name="export"></iframe>
    <form id="form1" action="/user/?do=export" target="export" method="POST">
        <div class="form-group dash-button-group">
            <input type="button" id="today" class="btn btn-minier btn-success" value="今天">
            <input type="button" id="week" class="btn btn-minier btn-warning" value="本周">
            <input type="button" id="last_month" class="btn btn-minier btn-info" value="上月">
            <input type="button" id="month" class="btn btn-minier btn-pink" value="本月">
                            <span class="input-icon input-icon-right">
                                <input name="start_date" id="card-date-from" type="text">
                                <i class="icon-calendar green"></i>
                            </span>
                            <span class="input-icon input-icon-right">
                                <input name="end_date" id="card-date-to" type="text">
                                <i class="icon-calendar green"></i>
                            </span>
            <input id="card-display-name" type="hidden" value="">
            <input id="is-plus" type="checkbox">
            <label for="is-plus">是否加班</label>
            <input type="button" id="search" class="btn btn-minier btn-primary" value="查询">
            <input onclick="$('form1').submit()" type="submit" id="export" class="btn btn-minier btn-primary"
                   value="导出">
            <input onclick="$('form1').submit()" type="submit" id="export_sub" name="sub"
                   class="btn btn-minier btn-primary" value="导出下属">
        </div>
    </form>
</div>
</div>
<div class="row">
<div class="col-xs-12">
    <div class="table-header">
        申请报销信息
    </div>
    <div class="table-responsive" id="card_s">
        <div id="ems_table_wrapper" class="dataTables_wrapper" role="grid">
            <table id="apply_table" class="table table-striped table-bordered table-hover dataTable"
                   aria-describedby="ems_table_info" style="width: 100%;">

            </table>

        </div>
    </div>
</div>
</div>

<script src="static/js/utils.js"></script>
<script src="static/js/dialog_common.js"></script>
<script src="static/ace/js/jquery.dataTables.min.js"></script>
<script src="static/ace/js/jquery.dataTables.bootstrap.js"></script>
<script language=JavaScript>

jQuery(function ($) {
    showInfo("oa/applyinfo");

});
//显示表格数据
function showInfo(url) {
    var ex = document.getElementById("apply_table");
    if ($.fn.dataTable.fnIsDataTable(ex)) {
        $(ex).dataTable().fnDestroy();
    }
    var aoColumns = [
        {
            "sTitle": "员工编号"
        },
        {
            "sTitle": "部门"
        },
        {
            "sTitle": "姓名"
        },
        {
            "sTitle": "申请日期"
        },
        {
            "sTitle": "报销金额"
        }
    ];
    var wh = $(window).height();
    var sY = (wh - 100) + 'px';
    var oTable = $(ex).dataTable({
        "bFilter": false,
        "bAutoWidth": true,
        "bProcessing": false,
        "bServerSide": true,
        "sDom": 't<"row"<"col-sm-12"i>>',
        "bSort": true,
        "bScrollCollapse": true,
        "iDisplayLength":20,
        "iDisplayStart": 0,
        "aoColumns": aoColumns,
        "sAjaxSource": "",
        "bScrollInfinite": true,
        "sScrollY": sY,
        "fnServerData": function (sSource, aDataSet, fnCallback) {
            $.ajax({
                "dataType": 'json',
                "type": "POST",
                "url": url,
                "data": aDataSet,
                "success": function (resp) {
					console.log(resp);
					var data = resp.data;
                    var iTotalRecords = data.count || 0;
                    var iTotalDisplayRecords = iTotalRecords;
                    var aaData = showApplyInfo(data);
                    var data = {
                        "aaData": aaData,
                        "iTotalRecords": (iTotalRecords || 0),
                        "iTotalDisplayRecords": (iTotalDisplayRecords || 0)
                    };
                    fnCallback(data);
                },
                error: function () {
                    showCommonNoticeDialog('网络错误', 'icon-bolt',
                    generateNoticeMsg('网络错误，请刷新后重试!'), 300);
                }
            });
        },
        "fnDrawCallback": function () {
            if (!oTable) {
                return;
            }
            oTable.$('tr.row_selected').removeClass('row_selected');
            oTable.$("tr").unbind('click');
            oTable.$("tr").click({oTable: oTable}, function (e) {
                if ($(this).hasClass('row_selected')) {
                    $(this).removeClass('row_selected');
                }
                else {
                    e.data.oTable.$('tr.row_selected').removeClass('row_selected');
                    $(this).addClass('row_selected');
                    var asset_id = e.data.oTable.fnGetData(this)[0];
                    var asset_type = e.data.oTable.fnGetData(this)[2];
                    var store_state = e.data.oTable.fnGetData(this)[5];
                    showDetailPanel(asset_id, asset_type, store_state);
                    showOperaInfo(asset_id);
                }
            });
        }
    })
}

function showApplyInfo(data) {
    var aaData = [];
    if (data) {
        var d_len = data.count;
		data = data.aaData;
        for (var i = 0; i < d_len; i++) {
            aaData.push([
				data[0],
				data[1],
				data[2],
				data[3],
				data[4]
            ]);
        }
    }
    return aaData;
}

$.extend(true, $.fn.dataTable.defaults, {
    "sPaginationType": "bootstrap",
    "oLanguage": {
        "sEmptyTable": "无数据",
        "sProcessing": "正在获取数据，请稍后...",
        "oPaginate.sFirst": "第一页",
        "oPaginate.sLast": "最后一页",
        "oPaginate.sNext": "下一页",
        "oPaginate.sPrevious": "上一页",
        "sInfo": "本页 _START_ - _END_ , 共 _TOTAL_ 条记录",
        "sInfoEmpty": "本页 0 - 0 , 共 0 条记录",
        "sSearch": "搜索: ",
        "sLengthMenu": "共_MENU_记录"
    }
});
</script>