<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>去哪儿网校园招聘</title>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<link rel="stylesheet" href="/static/mobile/css/style.min.css">
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/mobile/mobile_index.js"></script>
</head>
<body>
	<div class="wrap">
		<img class="balloon ani fade-in" src="/static/mobile/images/balloon.png" width="97.34%" alt="">
		<img class="balloon_left ani fade-in-up delay100" src="/static/mobile/images/balloon-left.png" width="19.06%" alt="">
		<img class="balloon_middle ani fade-in-up" src="/static/mobile/images/balloon-middle.png" width="22.5%" alt="">
		<img class="balloon_right ani fade-in-up" src="/static/mobile/images/balloon-right.png" width="20.78%" alt="">
		<img class="title ani fade-in elastic-x delay100" src="/static/mobile/images/title.png" width="80.78%" alt="">		
		<div class="con">
			<div class="step step_2 ani fade-in" style="display: ">
				<div class="form">
					<div class="text" id="msg">
						${message}
					</div>
					<div class="plane ani  pulse infinite"></div>
					<input type="hidden" id="flag" name="flag" value="${flag}"/>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
