<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>去哪儿网校园招聘</title>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<link rel="stylesheet" href="/static/mobile/css/style.min.css">
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/mobile/mobile.js"></script>
</head>
<body>
	<div class="wrap">
		<img class="balloon ani fade-in" src="/static/mobile/images/balloon.png" width="97.34%" alt="">
		<img class="balloon_left ani fade-in-up delay100" src="/static/mobile/images/balloon-left.png" width="19.06%" alt="">
		<img class="balloon_middle ani fade-in-up" src="/static/mobile/images/balloon-middle.png" width="22.5%" alt="">
		<img class="balloon_right ani fade-in-up" src="/static/mobile/images/balloon-right.png" width="20.78%" alt="">
		<img class="title ani fade-in elastic-x delay100" src="/static/mobile/images/title.png" width="80.78%" alt="">		
		<div class="con">
			<div class="step step_1 ani fade-in" style="display: ">
				<form id="registForm" name="registForm" action="" method="post">
					<div class="form">
						<div class="box">
							<div class="item">
								<input id="phone" name="phone" type="tel" placeholder="请输入手机号">
							</div>
							<div class="item">
								<input id="name" name="name" type="text" placeholder="请输姓名">
							</div>
							<div id="showError" style="width:210px; height:20px; display:none;">${message}</div>
						</div>
						<div class="plane ani  pulse infinite"></div>
					</div>
					<div id="regist" class="btn ani  stretch delay300"></div>
				</form>
			</div>
		</div>
	</div>
<script>
function getWidthOrHeight(clientProp) {
    var docEl = document.documentElement,
        body = document.body;
    return Math.max(
        body["scroll" + clientProp],
        docEl["scroll" + clientProp],
        body["offset" + clientProp],
        docEl["offset" + clientProp],
        docEl["client" + clientProp]
    );
}
document.addEventListener('DOMContentLoaded',function(){
var body = document.getElementsByTagName("body")[0];
body.style["width"] = getWidthOrHeight('Width')+ "px";
body.style["height"] = getWidthOrHeight('Height')+ "px";
},false);
</script>
	
</body>
</html>
