<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>报销系统</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/oaengine/"/>
    <!-- basic styles -->
    <link href="static/ace/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="static/ace/css/font-awesome.min.css"/>
    <!--[if IE 7]>
    <link rel="stylesheet" href="static/ace/css/font-awesome-ie7.min.css"/>
    <![endif]-->
    <!-- page specific plugin styles -->
    <!-- fonts -->
    <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />-->
    <!-- ace styles -->
    <link rel="stylesheet" href="static/ace/css/ace.min.css"/>
    <link rel="stylesheet" href="static/ace/css/ace-rtl.min.css"/>
    <link rel="stylesheet" href="static/ace/css/ace-skins.min.css"/>
    <link rel="stylesheet" href="static/ace/css/dropzone.css"/>
    <link rel="stylesheet" href="static/ace/css/colorbox.css"/>
    <link rel="stylesheet" href="static/ace/css/jquery.qtip.min.css"/>
    <link rel="stylesheet" href="static/css/myplugin.css"/>


    <!--[if lte IE 8]>
    <link rel="stylesheet" href="static/ace/css/ace-ie.min.css"/>
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="static/ace/js/ace-extra.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="static/ace/js/html5shiv.js"></script>
    <script src="static/ace/js/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='static/ace/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    </script>

    <!--[if IE]>
    <script type="text/javascript">
        window.jQuery || document.write("<script src='static/ace/js/jquery-1.10.2.min.js'>" + "<" + "/script>");
    </script>
    <![endif]-->
    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='static/ace/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="static/ace/js/typeahead-bs2.min.js"></script>
    <!-- page specific plugin scripts -->
    <script src="static/ace/js/jquery.colorbox-min.js"></script>
    <link rel="stylesheet" href="static/ace/css/jquery-ui-1.10.3.full.min.css"/>
    <script src="static/ace/js/jquery-ui-1.10.3.full.min.js"></script>
    <script src="static/ace/js/jquery.ui.touch-punch.min.js"></script>
    <script src="static/ace/js/jquery.qtip.min.js"></script>
    <!-- ace scripts -->
    <script src="static/ace/js/ace-elements.min.js"></script>
    <script src="static/ace/js/ace.min.js"></script>
    <!-- inline scripts related to this page -->
    <script src="static/ace/js/dropzone.min.js"></script>

    <script src="static/MyPlugin/jquery-ui.1.10.3.full.my.js"></script>
    <script src="static/MyPlugin/jquery.PrintArea.js"></script>
##    <script src="static/MyPlugin/jquery.myplugin.js"></script>

</head>
<body>
<div class="navbar navbar-default" id="navbar">
    <script type="text/javascript">
        try {
            ace.settings.check('navbar', 'fixed')
        } catch (e) {
        }
    </script>
    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
					<span class="navbar-brand">
						<small>
                          		Qunar日常报销系统
                        </small>
					</span>
        </div>
        <div class="navbar-header pull-right">
        	<span class="navbar-brand">
						<small>
							<span id="name">xxx</span>
                           	<button onclick="logout();">退出</button>
                        </small>
			</span>
        </div>
        #if($debug)
        <div class="navbar-header pull-right">
        	<span class="navbar-brand">
						<small>
							<input type="input" id="username"/><button onclick="changeuser()">切换用户</button>
                        </small>
			</span>
        </div>
        #end
    </div>
</div>

<div class="main-container-inner">
    <div class="sidebar" id="sidebar">
        <ul class="nav nav-list">
            <li>
                <a href="oa/apply.html">
                    <span class="menu-text"> 报销申请 </span>
                </a>
            </li>
            <li>
                <a href="oa/draft.html">
                    <span class="menu-text"> 我的草稿 </span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <span class="menu-text"> 我的申请 </span>
                </a>
                <ul class="submenu" style="display:block">
                    <li>
                        <a href="oa/apply_todo.html">
                            <i class="icon-double-angle-right"></i>
                            审批中的申请
                        </a>
                    </li>
                    <li>
                        <a href="oa/apply_history.html">
                            <i class="icon-double-angle-right"></i>
                            已结束的申请
                        </a>
                    </li>
                    <li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <span class="menu-text"> 协同工作 </span>
                </a>
                <ul class="submenu" style="display:block">
                    <li>
                        <a href="oa/approve_todo.html">
                            <i class="icon-double-angle-right"></i>
                            待办工作
                        </a>
                    </li>
                    <li>
                        <a href="oa/approve_history.html">
                            <i class="icon-double-angle-right"></i>
                            已办事项
                        </a>
                    </li>
                    <li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <span class="menu-text"> 设置 </span>
                </a>
                <ul class="submenu" style="display:block">
                    <li>
                        <a href="oa/setting/delegation.html">
                            <i class="icon-double-angle-right"></i>
                           	设置审批代理人
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="main-content">
        <div class="page-content">
            <div class="row">
                <div class="col-xs-12">
                    $screen_content
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(function ($) {
        var name = getCookie("test-userid");
		$("#name").html(name);// = name;
    });
	function changeuser(){
		var username = $("#username").val();
		if(username == '') return;
		var params = {};
        var vars = {"user":username};
        params["vars"] = vars;
		$.ajax({
                contentType: "application/json; charset=utf-8",
                url: "oa/user",
                type: "post",
                data: JSON.stringify(params),
                success: function (resp) {
                    alert("切换成功!");
                	window.location.reload();
                },
                "error": function (jqxhr, textstatus, errorthrown) {
                    alert("切换失败!");
                }
            });
	}
	
	function logout(){
		$.ajax({
                contentType: "application/json; charset=utf-8",
                url: "oa/logout",
                type: "post",
                data: {},
                success: function (resp) {
                    alert("退出成功!");
                    delCookie("un");
                	window.location.href = '/oaengine/oa/index.html'; 
                },
                "error": function (jqxhr, textstatus, errorthrown) {
                    alert("退出成功!");
                }
            });
	}
	function SetCookie(name,value)//两个参数，一个是cookie的名子，一个是值
	{
	    var Days = 30; //此 cookie 将被保存 30 天
	    var exp  = new Date();    //new Date("December 31, 9998");
	    exp.setTime(exp.getTime() + Days*24*60*60*1000);
	    document.cookie = name + "="+ escape (value) + ";expires=" + exp.toGMTString();
	}
	function getCookie(name)//取cookies函数        
	{
	    var arr = document.cookie.match(new RegExp("(^| )"+name+"=([^;]*)(;|$)"));
	     if(arr != null) return unescape(arr[2]); return null;
	
	}
	function delCookie(name)//删除cookie
	{
	    var exp = new Date();
	    exp.setTime(exp.getTime() - 1);
	    var cval=getCookie(name);
	    if(cval!=null) document.cookie= name + "="+cval+";expires="+exp.toGMTString();
	}
</script>

</body>
</html>
