@charset "utf-8";
@import url("reset.css");

html,body{
	background: #041630;
}
.wrap,.bg{
	min-width: 1400px;
	position: relative;
	width: 100%;
	font-family: "Microsoft Yahei",simsun,arial, sans-serif;
}
.bg_1,.bg_2,.bg_3,.bg_4,.bg_5,.bg_6{
	height: 150px;
}
.bg_1{
	background: url(../images/xz_01.jpg) no-repeat center top;
	width: 100%;
}
.bg_2{
	background: url(../images/xz_02.jpg) no-repeat center top;
	width: 100%;
}
.bg_3{
	background: url(../images/xz_03.jpg) no-repeat center top;
	width: 100%;
}
.bg_4{
	background: url(../images/xz_04.jpg) no-repeat center top;
	width: 100%;
}
.bg_5{
	background: url(../images/xz_05.jpg) no-repeat center top;
	width: 100%;
}
.bg_6{
	background: url(../images/xz_06.jpg) no-repeat center top;
	width: 100%;
}

.wrap-1000{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.wrap-1000 .title-name{

	position: absolute;
	top: 154px;
	left: 257px;
	font-size: 80px;
	color: #fff;
	width: 350px;
	font-style: italic;
	text-align: center;
}
.wrap-1000 .title-root{
	position: absolute;
	top: 278px;
	left: 354px;
	font-size: 80px;
	color: #fff;
	width: 400px;
	font-style: italic;
	text-align: center;
}
.banner{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background: url(../images/shadow.png) repeat-x top left;
}
.nav {
	width: 1290px;
	margin: 0 auto;
	padding: 40px 58px 30px;
	overflow: hidden;
}
.nav .item{
	width: 160px;
	height: 122px;
	float: left;
	border-right: 1px solid #2a5276;
	position: relative;
	margin-bottom: 60px;
}
.nav .item-last{
	border-right:none;
}
.nav .item-last-bottom{
	margin-bottom: 0;
}
.nav .item .room{
	font-size: 40px;
	line-height: 35px;
	margin-top: -10px;
	text-align: center;
	color: #4aa6c5;
}
.nav .item .state{
	font-size: 30px;
	line-height: 42px;
	text-align: center;
	color: #4aa6c5;
	padding-bottom: 5px;
}
.nav .item .name{
	line-height: 35px;
	font-size: 24px;
	color: #4aa6c5;
	text-align: center;
	height: 35px;
	overflow: hidden;
}
.nav .item .job{
	line-height: 26px;
	font-size: 24px;
	text-align: center;
	color: #4aa6c5;
	margin-bottom: -20px;
}
.nav .item-wait .room,.nav .item-wait .state{
	color: #fff;
}
.nav .item-wait .name,.nav .item-wait .job{
	color: #ffcd7f;
}











