<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qunar.ops.recruit.dao.InterviewerMapper" >
  <resultMap id="BaseResultMap" type="com.qunar.ops.recruit.model.Interviewer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="CHAR" />
    <result column="city" property="city" jdbcType="CHAR" />
    <result column="one_view" property="oneView" jdbcType="CHAR" />
    <result column="two_view" property="twoView" jdbcType="CHAR" />
    <result column="one_count" property="oneCount" jdbcType="INTEGER" />
    <result column="two_count" property="twoCount" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="phase" property="phase" jdbcType="VARCHAR" />
    <result column="view_count" property="viewCount" jdbcType="BIGINT" />
    <result column="room" property="room" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="BIGINT" />
    <result column="determine" property="determine" jdbcType="CHAR" />
    <result column="job" property="job" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_name, password, city, one_view, two_view, one_count, two_count, status, 
    phase, view_count, room, enable, determine, job
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qunar.ops.recruit.model.InterviewerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from interviewer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from interviewer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from interviewer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qunar.ops.recruit.model.InterviewerExample" >
    delete from interviewer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qunar.ops.recruit.model.Interviewer" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      select currval('interviewer_id_seq')
    </selectKey>
    insert into interviewer (user_name, password, city, 
      one_view, two_view, one_count, 
      two_count, status, phase, 
      view_count, room, enable, 
      determine, job)
    values (#{userName,jdbcType=VARCHAR}, #{password,jdbcType=CHAR}, #{city,jdbcType=CHAR}, 
      #{oneView,jdbcType=CHAR}, #{twoView,jdbcType=CHAR}, #{oneCount,jdbcType=INTEGER}, 
      #{twoCount,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{phase,jdbcType=VARCHAR}, 
      #{viewCount,jdbcType=BIGINT}, #{room,jdbcType=VARCHAR}, #{enable,jdbcType=BIGINT}, 
      #{determine,jdbcType=CHAR}, #{job,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qunar.ops.recruit.model.Interviewer" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      select currval('interviewer_id_seq')
    </selectKey>
    insert into interviewer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userName != null" >
        user_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="oneView != null" >
        one_view,
      </if>
      <if test="twoView != null" >
        two_view,
      </if>
      <if test="oneCount != null" >
        one_count,
      </if>
      <if test="twoCount != null" >
        two_count,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="phase != null" >
        phase,
      </if>
      <if test="viewCount != null" >
        view_count,
      </if>
      <if test="room != null" >
        room,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="determine != null" >
        determine,
      </if>
      <if test="job != null" >
        job,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=CHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=CHAR},
      </if>
      <if test="oneView != null" >
        #{oneView,jdbcType=CHAR},
      </if>
      <if test="twoView != null" >
        #{twoView,jdbcType=CHAR},
      </if>
      <if test="oneCount != null" >
        #{oneCount,jdbcType=INTEGER},
      </if>
      <if test="twoCount != null" >
        #{twoCount,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="phase != null" >
        #{phase,jdbcType=VARCHAR},
      </if>
      <if test="viewCount != null" >
        #{viewCount,jdbcType=BIGINT},
      </if>
      <if test="room != null" >
        #{room,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=BIGINT},
      </if>
      <if test="determine != null" >
        #{determine,jdbcType=CHAR},
      </if>
      <if test="job != null" >
        #{job,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qunar.ops.recruit.model.InterviewerExample" resultType="java.lang.Integer" >
    select count(*) from interviewer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update interviewer
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=CHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=CHAR},
      </if>
      <if test="record.oneView != null" >
        one_view = #{record.oneView,jdbcType=CHAR},
      </if>
      <if test="record.twoView != null" >
        two_view = #{record.twoView,jdbcType=CHAR},
      </if>
      <if test="record.oneCount != null" >
        one_count = #{record.oneCount,jdbcType=INTEGER},
      </if>
      <if test="record.twoCount != null" >
        two_count = #{record.twoCount,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.phase != null" >
        phase = #{record.phase,jdbcType=VARCHAR},
      </if>
      <if test="record.viewCount != null" >
        view_count = #{record.viewCount,jdbcType=BIGINT},
      </if>
      <if test="record.room != null" >
        room = #{record.room,jdbcType=VARCHAR},
      </if>
      <if test="record.enable != null" >
        enable = #{record.enable,jdbcType=BIGINT},
      </if>
      <if test="record.determine != null" >
        determine = #{record.determine,jdbcType=CHAR},
      </if>
      <if test="record.job != null" >
        job = #{record.job,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update interviewer
    set id = #{record.id,jdbcType=INTEGER},
      user_name = #{record.userName,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=CHAR},
      city = #{record.city,jdbcType=CHAR},
      one_view = #{record.oneView,jdbcType=CHAR},
      two_view = #{record.twoView,jdbcType=CHAR},
      one_count = #{record.oneCount,jdbcType=INTEGER},
      two_count = #{record.twoCount,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      phase = #{record.phase,jdbcType=VARCHAR},
      view_count = #{record.viewCount,jdbcType=BIGINT},
      room = #{record.room,jdbcType=VARCHAR},
      enable = #{record.enable,jdbcType=BIGINT},
      determine = #{record.determine,jdbcType=CHAR},
      job = #{record.job,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qunar.ops.recruit.model.Interviewer" >
    update interviewer
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=CHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=CHAR},
      </if>
      <if test="oneView != null" >
        one_view = #{oneView,jdbcType=CHAR},
      </if>
      <if test="twoView != null" >
        two_view = #{twoView,jdbcType=CHAR},
      </if>
      <if test="oneCount != null" >
        one_count = #{oneCount,jdbcType=INTEGER},
      </if>
      <if test="twoCount != null" >
        two_count = #{twoCount,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="phase != null" >
        phase = #{phase,jdbcType=VARCHAR},
      </if>
      <if test="viewCount != null" >
        view_count = #{viewCount,jdbcType=BIGINT},
      </if>
      <if test="room != null" >
        room = #{room,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=BIGINT},
      </if>
      <if test="determine != null" >
        determine = #{determine,jdbcType=CHAR},
      </if>
      <if test="job != null" >
        job = #{job,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qunar.ops.recruit.model.Interviewer" >
    update interviewer
    set user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=CHAR},
      city = #{city,jdbcType=CHAR},
      one_view = #{oneView,jdbcType=CHAR},
      two_view = #{twoView,jdbcType=CHAR},
      one_count = #{oneCount,jdbcType=INTEGER},
      two_count = #{twoCount,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      phase = #{phase,jdbcType=VARCHAR},
      view_count = #{viewCount,jdbcType=BIGINT},
      room = #{room,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=BIGINT},
      determine = #{determine,jdbcType=CHAR},
      job = #{job,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>