<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qunar.ops.recruit.dao.JoinMapper" >
 <resultMap type="com.qunar.ops.recruit.model.connect_table.InterviewerInfoToPage" id="InterviewerInfoToPageMap">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="CHAR" />
    <result column="one_view" property="oneView" jdbcType="CHAR" />
    <result column="two_view" property="twoView" jdbcType="CHAR" />
    <result column="view_count" property="viewCount" jdbcType="BIGINT" />
    <result column="determine" property="determine" jdbcType="VARCHAR" />
    <result column="job" property="job" jdbcType="VARCHAR" />
    <result column="first_try" property="firstTry" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="VARCHAR" />
    <association property="pi" javaType="com.qunar.ops.recruit.model.connect_table.InterviewerInfoToPage" resultMap="com.qunar.ops.recruit.dao.PhaseInterviewerMapper.BaseResultMap"/>  
 </resultMap>
  <select id="getFirstInterviewRoomNumber" resultType="java.lang.String" parameterType="com.qunar.ops.recruit.model.Student">
  	select interviewer.room from interviewer, student_info 
  	where interviewer.user_name = student_info.first_try and student_info.id = #{id}
  </select>
  <select id="getSecondInterviewRoomNumber" resultType="java.lang.String" parameterType="com.qunar.ops.recruit.model.Student">
  	select interviewer.room from interviewer, student_info 
  	where interviewer.user_name = student_info.second_try and student_info.id = #{id}
  </select>
  <select id="getInterviewersInfoToPages" resultMap="InterviewerInfoToPageMap">
  	select * from 
  	(interviewer inner join phase_interviewer on 
  	interviewer.user_name=phase_interviewer.intervier_name
  	and phase_interviewer.year=#{year} 
  	and phase_interviewer.phase=#{phase} 
  	and phase_interviewer.city=#{city}) left join 
  	(select first_try,count(*) from student_info where (state = #{state} or state = '已发Offer' or state = '待定Offer' or state = '不发Offer') and is_deleted != 1 group by first_try) as tmp 
  	on phase_interviewer.intervier_name=tmp.first_try order by interviewer.user_name

  	
  </select>
  <select id="getInterviewerDetailsInfoToPages" resultMap="InterviewerInfoToPageMap">
  	select * from 
  	interviewer,
  	phase_interviewer,
  	(select job, first_try,count(*) from student_info where (state = #{state} or state = '面试结束') and is_deleted != 1 group by first_try,job) as tmp 
  	where interviewer.user_name=phase_interviewer.intervier_name
  	and phase_interviewer.intervier_name=tmp.first_try
  	and phase_interviewer.year=#{year} and phase_interviewer.phase=#{phase} and phase_interviewer.city=#{city} and interviewer.id = #{interid}
  </select>
  
</mapper>