<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qunar.ops.recruit.dao.JoinMapper" >
  <resultMap id="BaseResultMap" type="com.qunar.ops.recruit.model.Student">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="note_no" jdbcType="VARCHAR" property="noteNo" />
    <result column="phase_no" jdbcType="VARCHAR" property="phaseNo" />
    <result column="interview_time" jdbcType="TIMESTAMP" property="interviewTime" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="profession" jdbcType="VARCHAR" property="profession" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
    <result column="qq_no" jdbcType="VARCHAR" property="qqNo" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="work_start" jdbcType="TIMESTAMP" property="workStart" />
    <result column="work_end" jdbcType="TIMESTAMP" property="workEnd" />
    <result column="graduate_date" jdbcType="TIMESTAMP" property="graduateDate" />
    <result column="salary" jdbcType="DOUBLE" property="salary" />
    <result column="assess" jdbcType="VARCHAR" property="assess" />
    <result column="first_try" jdbcType="VARCHAR" property="firstTry" />
    <result column="second_try" jdbcType="VARCHAR" property="secondTry" />
    <result column="view_remark" jdbcType="VARCHAR" property="viewRemark" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="offer_state" jdbcType="VARCHAR" property="offerState" />
    <result column="three_side" jdbcType="CHAR" property="threeSide" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="three_state" jdbcType="CHAR" property="threeState" />
    <result column="refuse" jdbcType="VARCHAR" property="refuse" />
    <result column="refuse_reson" jdbcType="VARCHAR" property="refuseReson" />
    <result column="refuse_date" jdbcType="TIMESTAMP" property="refuseDate" />
    <result column="breaker" jdbcType="CHAR" property="breaker" />
    <result column="train" jdbcType="VARCHAR" property="train" />
    <result column="staff_no" jdbcType="VARCHAR" property="staffNo" />
    <result column="interview_dept" jdbcType="VARCHAR" property="interviewDept" />
    <result column="fenpei_dept" jdbcType="VARCHAR" property="fenpeiDept" />
    <result column="yuan_dept" jdbcType="VARCHAR" property="yuanDept" />
    <result column="organize" jdbcType="VARCHAR" property="organize" />
    <result column="leader" jdbcType="VARCHAR" property="leader" />
    <result column="one_result" jdbcType="VARCHAR" property="oneResult" />
    <result column="two_result" jdbcType="VARCHAR" property="twoResult" />
    <result column="true_time" jdbcType="TIMESTAMP" property="trueTime" />
    <result column="one_overtime" jdbcType="TIMESTAMP" property="oneOvertime" />
  </resultMap>
 <resultMap id="InterResultMap" type="com.qunar.ops.recruit.model.Interviewer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="CHAR" />
    <result column="city" property="city" jdbcType="CHAR" />
    <result column="one_view" property="oneView" jdbcType="CHAR" />
    <result column="two_view" property="twoView" jdbcType="CHAR" />
    <result column="one_count" property="oneCount" jdbcType="INTEGER" />
    <result column="two_count" property="twoCount" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="phase" property="phase" jdbcType="VARCHAR" />
    <result column="view_count" property="viewCount" jdbcType="BIGINT" />
    <result column="room" property="room" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="BIGINT" />
    <result column="determine" property="determine" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, note_no, phase_no, interview_time, name, sex, school, profession, education, 
    phone, email, card_no, qq_no, job, work_start, work_end, graduate_date, salary, assess, 
    first_try, second_try, view_remark, location, offer_state, three_side, pay_time, 
    three_state, refuse, refuse_reson, refuse_date, breaker, train, staff_no, interview_dept, 
    fenpei_dept, yuan_dept, organize, leader, one_result, two_result, true_time, one_overtime
  </sql>
  <select id="getFirstInterviewRoomNumber" resultType="java.lang.String" parameterType="com.qunar.ops.recruit.model.Student">
  	select interviewer.room from interviewer, student_info 
  	where interviewer.user_name = student_info.first_try and student_info.id = #{id}
  </select>
  <select id="getSecondInterviewRoomNumber" resultType="java.lang.String" parameterType="com.qunar.ops.recruit.model.Student">
  	select interviewer.room from interviewer, student_info 
  	where interviewer.user_name = student_info.second_try and student_info.id = #{id}
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qunar.ops.recruit.model.StudentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from student_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from student_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from student_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qunar.ops.recruit.model.StudentExample" >
    delete from student_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qunar.ops.recruit.model.Student" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      select currval('student_info_id_seq')
    </selectKey>
    insert into student_info (note_no, phase_no, interview_time, 
      name, sex, school, profession, 
      education, phone, email, 
      card_no, qq_no, job, 
      work_start, work_end, graduate_date, 
      salary, assess, first_try, 
      second_try, view_remark, location, 
      offer_state, three_side, pay_time, 
      three_state, refuse, refuse_reson, 
      refuse_date, breaker, train, 
      staff_no, interview_dept, fenpei_dept, 
      yuan_dept, organize, leader, 
      one_result, two_result, true_time, 
      one_overtime)
    values (#{noteNo,jdbcType=VARCHAR}, #{phaseNo,jdbcType=VARCHAR}, #{interviewTime,jdbcType=TIMESTAMP}, 
      #{name,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, #{school,jdbcType=VARCHAR}, #{profession,jdbcType=VARCHAR}, 
      #{education,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{cardNo,jdbcType=VARCHAR}, #{qqNo,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, 
      #{workStart,jdbcType=TIMESTAMP}, #{workEnd,jdbcType=TIMESTAMP}, #{graduateDate,jdbcType=TIMESTAMP}, 
      #{salary,jdbcType=DOUBLE}, #{assess,jdbcType=VARCHAR}, #{firstTry,jdbcType=VARCHAR}, 
      #{secondTry,jdbcType=VARCHAR}, #{viewRemark,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, 
      #{offerState,jdbcType=VARCHAR}, #{threeSide,jdbcType=CHAR}, #{payTime,jdbcType=TIMESTAMP}, 
      #{threeState,jdbcType=CHAR}, #{refuse,jdbcType=VARCHAR}, #{refuseReson,jdbcType=VARCHAR}, 
      #{refuseDate,jdbcType=TIMESTAMP}, #{breaker,jdbcType=CHAR}, #{train,jdbcType=VARCHAR}, 
      #{staffNo,jdbcType=VARCHAR}, #{interviewDept,jdbcType=VARCHAR}, #{fenpeiDept,jdbcType=VARCHAR}, 
      #{yuanDept,jdbcType=VARCHAR}, #{organize,jdbcType=VARCHAR}, #{leader,jdbcType=VARCHAR}, 
      #{oneResult,jdbcType=VARCHAR}, #{twoResult,jdbcType=VARCHAR}, #{trueTime,jdbcType=TIMESTAMP}, 
      #{oneOvertime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.qunar.ops.recruit.model.Student" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      select currval('student_info_id_seq')
    </selectKey>
    insert into student_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="noteNo != null" >
        note_no,
      </if>
      <if test="phaseNo != null" >
        phase_no,
      </if>
      <if test="interviewTime != null" >
        interview_time,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="school != null" >
        school,
      </if>
      <if test="profession != null" >
        profession,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="cardNo != null" >
        card_no,
      </if>
      <if test="qqNo != null" >
        qq_no,
      </if>
      <if test="job != null" >
        job,
      </if>
      <if test="workStart != null" >
        work_start,
      </if>
      <if test="workEnd != null" >
        work_end,
      </if>
      <if test="graduateDate != null" >
        graduate_date,
      </if>
      <if test="salary != null" >
        salary,
      </if>
      <if test="assess != null" >
        assess,
      </if>
      <if test="firstTry != null" >
        first_try,
      </if>
      <if test="secondTry != null" >
        second_try,
      </if>
      <if test="viewRemark != null" >
        view_remark,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="offerState != null" >
        offer_state,
      </if>
      <if test="threeSide != null" >
        three_side,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="threeState != null" >
        three_state,
      </if>
      <if test="refuse != null" >
        refuse,
      </if>
      <if test="refuseReson != null" >
        refuse_reson,
      </if>
      <if test="refuseDate != null" >
        refuse_date,
      </if>
      <if test="breaker != null" >
        breaker,
      </if>
      <if test="train != null" >
        train,
      </if>
      <if test="staffNo != null" >
        staff_no,
      </if>
      <if test="interviewDept != null" >
        interview_dept,
      </if>
      <if test="fenpeiDept != null" >
        fenpei_dept,
      </if>
      <if test="yuanDept != null" >
        yuan_dept,
      </if>
      <if test="organize != null" >
        organize,
      </if>
      <if test="leader != null" >
        leader,
      </if>
      <if test="oneResult != null" >
        one_result,
      </if>
      <if test="twoResult != null" >
        two_result,
      </if>
      <if test="trueTime != null" >
        true_time,
      </if>
      <if test="oneOvertime != null" >
        one_overtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="noteNo != null" >
        #{noteNo,jdbcType=VARCHAR},
      </if>
      <if test="phaseNo != null" >
        #{phaseNo,jdbcType=VARCHAR},
      </if>
      <if test="interviewTime != null" >
        #{interviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=CHAR},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="profession != null" >
        #{profession,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null" >
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="qqNo != null" >
        #{qqNo,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="workStart != null" >
        #{workStart,jdbcType=TIMESTAMP},
      </if>
      <if test="workEnd != null" >
        #{workEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="graduateDate != null" >
        #{graduateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="salary != null" >
        #{salary,jdbcType=DOUBLE},
      </if>
      <if test="assess != null" >
        #{assess,jdbcType=VARCHAR},
      </if>
      <if test="firstTry != null" >
        #{firstTry,jdbcType=VARCHAR},
      </if>
      <if test="secondTry != null" >
        #{secondTry,jdbcType=VARCHAR},
      </if>
      <if test="viewRemark != null" >
        #{viewRemark,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="offerState != null" >
        #{offerState,jdbcType=VARCHAR},
      </if>
      <if test="threeSide != null" >
        #{threeSide,jdbcType=CHAR},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="threeState != null" >
        #{threeState,jdbcType=CHAR},
      </if>
      <if test="refuse != null" >
        #{refuse,jdbcType=VARCHAR},
      </if>
      <if test="refuseReson != null" >
        #{refuseReson,jdbcType=VARCHAR},
      </if>
      <if test="refuseDate != null" >
        #{refuseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="breaker != null" >
        #{breaker,jdbcType=CHAR},
      </if>
      <if test="train != null" >
        #{train,jdbcType=VARCHAR},
      </if>
      <if test="staffNo != null" >
        #{staffNo,jdbcType=VARCHAR},
      </if>
      <if test="interviewDept != null" >
        #{interviewDept,jdbcType=VARCHAR},
      </if>
      <if test="fenpeiDept != null" >
        #{fenpeiDept,jdbcType=VARCHAR},
      </if>
      <if test="yuanDept != null" >
        #{yuanDept,jdbcType=VARCHAR},
      </if>
      <if test="organize != null" >
        #{organize,jdbcType=VARCHAR},
      </if>
      <if test="leader != null" >
        #{leader,jdbcType=VARCHAR},
      </if>
      <if test="oneResult != null" >
        #{oneResult,jdbcType=VARCHAR},
      </if>
      <if test="twoResult != null" >
        #{twoResult,jdbcType=VARCHAR},
      </if>
      <if test="trueTime != null" >
        #{trueTime,jdbcType=TIMESTAMP},
      </if>
      <if test="oneOvertime != null" >
        #{oneOvertime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qunar.ops.recruit.model.StudentExample" resultType="java.lang.Integer" >
    select count(*) from student_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update student_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.noteNo != null" >
        note_no = #{record.noteNo,jdbcType=VARCHAR},
      </if>
      <if test="record.phaseNo != null" >
        phase_no = #{record.phaseNo,jdbcType=VARCHAR},
      </if>
      <if test="record.interviewTime != null" >
        interview_time = #{record.interviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=CHAR},
      </if>
      <if test="record.school != null" >
        school = #{record.school,jdbcType=VARCHAR},
      </if>
      <if test="record.profession != null" >
        profession = #{record.profession,jdbcType=VARCHAR},
      </if>
      <if test="record.education != null" >
        education = #{record.education,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.cardNo != null" >
        card_no = #{record.cardNo,jdbcType=VARCHAR},
      </if>
      <if test="record.qqNo != null" >
        qq_no = #{record.qqNo,jdbcType=VARCHAR},
      </if>
      <if test="record.job != null" >
        job = #{record.job,jdbcType=VARCHAR},
      </if>
      <if test="record.workStart != null" >
        work_start = #{record.workStart,jdbcType=TIMESTAMP},
      </if>
      <if test="record.workEnd != null" >
        work_end = #{record.workEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="record.graduateDate != null" >
        graduate_date = #{record.graduateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.salary != null" >
        salary = #{record.salary,jdbcType=DOUBLE},
      </if>
      <if test="record.assess != null" >
        assess = #{record.assess,jdbcType=VARCHAR},
      </if>
      <if test="record.firstTry != null" >
        first_try = #{record.firstTry,jdbcType=VARCHAR},
      </if>
      <if test="record.secondTry != null" >
        second_try = #{record.secondTry,jdbcType=VARCHAR},
      </if>
      <if test="record.viewRemark != null" >
        view_remark = #{record.viewRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.location != null" >
        location = #{record.location,jdbcType=VARCHAR},
      </if>
      <if test="record.offerState != null" >
        offer_state = #{record.offerState,jdbcType=VARCHAR},
      </if>
      <if test="record.threeSide != null" >
        three_side = #{record.threeSide,jdbcType=CHAR},
      </if>
      <if test="record.payTime != null" >
        pay_time = #{record.payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.threeState != null" >
        three_state = #{record.threeState,jdbcType=CHAR},
      </if>
      <if test="record.refuse != null" >
        refuse = #{record.refuse,jdbcType=VARCHAR},
      </if>
      <if test="record.refuseReson != null" >
        refuse_reson = #{record.refuseReson,jdbcType=VARCHAR},
      </if>
      <if test="record.refuseDate != null" >
        refuse_date = #{record.refuseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.breaker != null" >
        breaker = #{record.breaker,jdbcType=CHAR},
      </if>
      <if test="record.train != null" >
        train = #{record.train,jdbcType=VARCHAR},
      </if>
      <if test="record.staffNo != null" >
        staff_no = #{record.staffNo,jdbcType=VARCHAR},
      </if>
      <if test="record.interviewDept != null" >
        interview_dept = #{record.interviewDept,jdbcType=VARCHAR},
      </if>
      <if test="record.fenpeiDept != null" >
        fenpei_dept = #{record.fenpeiDept,jdbcType=VARCHAR},
      </if>
      <if test="record.yuanDept != null" >
        yuan_dept = #{record.yuanDept,jdbcType=VARCHAR},
      </if>
      <if test="record.organize != null" >
        organize = #{record.organize,jdbcType=VARCHAR},
      </if>
      <if test="record.leader != null" >
        leader = #{record.leader,jdbcType=VARCHAR},
      </if>
      <if test="record.oneResult != null" >
        one_result = #{record.oneResult,jdbcType=VARCHAR},
      </if>
      <if test="record.twoResult != null" >
        two_result = #{record.twoResult,jdbcType=VARCHAR},
      </if>
      <if test="record.trueTime != null" >
        true_time = #{record.trueTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.oneOvertime != null" >
        one_overtime = #{record.oneOvertime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update student_info
    set id = #{record.id,jdbcType=INTEGER},
      note_no = #{record.noteNo,jdbcType=VARCHAR},
      phase_no = #{record.phaseNo,jdbcType=VARCHAR},
      interview_time = #{record.interviewTime,jdbcType=TIMESTAMP},
      name = #{record.name,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=CHAR},
      school = #{record.school,jdbcType=VARCHAR},
      profession = #{record.profession,jdbcType=VARCHAR},
      education = #{record.education,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      card_no = #{record.cardNo,jdbcType=VARCHAR},
      qq_no = #{record.qqNo,jdbcType=VARCHAR},
      job = #{record.job,jdbcType=VARCHAR},
      work_start = #{record.workStart,jdbcType=TIMESTAMP},
      work_end = #{record.workEnd,jdbcType=TIMESTAMP},
      graduate_date = #{record.graduateDate,jdbcType=TIMESTAMP},
      salary = #{record.salary,jdbcType=DOUBLE},
      assess = #{record.assess,jdbcType=VARCHAR},
      first_try = #{record.firstTry,jdbcType=VARCHAR},
      second_try = #{record.secondTry,jdbcType=VARCHAR},
      view_remark = #{record.viewRemark,jdbcType=VARCHAR},
      location = #{record.location,jdbcType=VARCHAR},
      offer_state = #{record.offerState,jdbcType=VARCHAR},
      three_side = #{record.threeSide,jdbcType=CHAR},
      pay_time = #{record.payTime,jdbcType=TIMESTAMP},
      three_state = #{record.threeState,jdbcType=CHAR},
      refuse = #{record.refuse,jdbcType=VARCHAR},
      refuse_reson = #{record.refuseReson,jdbcType=VARCHAR},
      refuse_date = #{record.refuseDate,jdbcType=TIMESTAMP},
      breaker = #{record.breaker,jdbcType=CHAR},
      train = #{record.train,jdbcType=VARCHAR},
      staff_no = #{record.staffNo,jdbcType=VARCHAR},
      interview_dept = #{record.interviewDept,jdbcType=VARCHAR},
      fenpei_dept = #{record.fenpeiDept,jdbcType=VARCHAR},
      yuan_dept = #{record.yuanDept,jdbcType=VARCHAR},
      organize = #{record.organize,jdbcType=VARCHAR},
      leader = #{record.leader,jdbcType=VARCHAR},
      one_result = #{record.oneResult,jdbcType=VARCHAR},
      two_result = #{record.twoResult,jdbcType=VARCHAR},
      true_time = #{record.trueTime,jdbcType=TIMESTAMP},
      one_overtime = #{record.oneOvertime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qunar.ops.recruit.model.Student" >
    update student_info
    <set >
      <if test="noteNo != null" >
        note_no = #{noteNo,jdbcType=VARCHAR},
      </if>
      <if test="phaseNo != null" >
        phase_no = #{phaseNo,jdbcType=VARCHAR},
      </if>
      <if test="interviewTime != null" >
        interview_time = #{interviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="school != null" >
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="profession != null" >
        profession = #{profession,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null" >
        card_no = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="qqNo != null" >
        qq_no = #{qqNo,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        job = #{job,jdbcType=VARCHAR},
      </if>
      <if test="workStart != null" >
        work_start = #{workStart,jdbcType=TIMESTAMP},
      </if>
      <if test="workEnd != null" >
        work_end = #{workEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="graduateDate != null" >
        graduate_date = #{graduateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="salary != null" >
        salary = #{salary,jdbcType=DOUBLE},
      </if>
      <if test="assess != null" >
        assess = #{assess,jdbcType=VARCHAR},
      </if>
      <if test="firstTry != null" >
        first_try = #{firstTry,jdbcType=VARCHAR},
      </if>
      <if test="secondTry != null" >
        second_try = #{secondTry,jdbcType=VARCHAR},
      </if>
      <if test="viewRemark != null" >
        view_remark = #{viewRemark,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="offerState != null" >
        offer_state = #{offerState,jdbcType=VARCHAR},
      </if>
      <if test="threeSide != null" >
        three_side = #{threeSide,jdbcType=CHAR},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="threeState != null" >
        three_state = #{threeState,jdbcType=CHAR},
      </if>
      <if test="refuse != null" >
        refuse = #{refuse,jdbcType=VARCHAR},
      </if>
      <if test="refuseReson != null" >
        refuse_reson = #{refuseReson,jdbcType=VARCHAR},
      </if>
      <if test="refuseDate != null" >
        refuse_date = #{refuseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="breaker != null" >
        breaker = #{breaker,jdbcType=CHAR},
      </if>
      <if test="train != null" >
        train = #{train,jdbcType=VARCHAR},
      </if>
      <if test="staffNo != null" >
        staff_no = #{staffNo,jdbcType=VARCHAR},
      </if>
      <if test="interviewDept != null" >
        interview_dept = #{interviewDept,jdbcType=VARCHAR},
      </if>
      <if test="fenpeiDept != null" >
        fenpei_dept = #{fenpeiDept,jdbcType=VARCHAR},
      </if>
      <if test="yuanDept != null" >
        yuan_dept = #{yuanDept,jdbcType=VARCHAR},
      </if>
      <if test="organize != null" >
        organize = #{organize,jdbcType=VARCHAR},
      </if>
      <if test="leader != null" >
        leader = #{leader,jdbcType=VARCHAR},
      </if>
      <if test="oneResult != null" >
        one_result = #{oneResult,jdbcType=VARCHAR},
      </if>
      <if test="twoResult != null" >
        two_result = #{twoResult,jdbcType=VARCHAR},
      </if>
      <if test="trueTime != null" >
        true_time = #{trueTime,jdbcType=TIMESTAMP},
      </if>
      <if test="oneOvertime != null" >
        one_overtime = #{oneOvertime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qunar.ops.recruit.model.Student" >
    update student_info
    set note_no = #{noteNo,jdbcType=VARCHAR},
      phase_no = #{phaseNo,jdbcType=VARCHAR},
      interview_time = #{interviewTime,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      school = #{school,jdbcType=VARCHAR},
      profession = #{profession,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      card_no = #{cardNo,jdbcType=VARCHAR},
      qq_no = #{qqNo,jdbcType=VARCHAR},
      job = #{job,jdbcType=VARCHAR},
      work_start = #{workStart,jdbcType=TIMESTAMP},
      work_end = #{workEnd,jdbcType=TIMESTAMP},
      graduate_date = #{graduateDate,jdbcType=TIMESTAMP},
      salary = #{salary,jdbcType=DOUBLE},
      assess = #{assess,jdbcType=VARCHAR},
      first_try = #{firstTry,jdbcType=VARCHAR},
      second_try = #{secondTry,jdbcType=VARCHAR},
      view_remark = #{viewRemark,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      offer_state = #{offerState,jdbcType=VARCHAR},
      three_side = #{threeSide,jdbcType=CHAR},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      three_state = #{threeState,jdbcType=CHAR},
      refuse = #{refuse,jdbcType=VARCHAR},
      refuse_reson = #{refuseReson,jdbcType=VARCHAR},
      refuse_date = #{refuseDate,jdbcType=TIMESTAMP},
      breaker = #{breaker,jdbcType=CHAR},
      train = #{train,jdbcType=VARCHAR},
      staff_no = #{staffNo,jdbcType=VARCHAR},
      interview_dept = #{interviewDept,jdbcType=VARCHAR},
      fenpei_dept = #{fenpeiDept,jdbcType=VARCHAR},
      yuan_dept = #{yuanDept,jdbcType=VARCHAR},
      organize = #{organize,jdbcType=VARCHAR},
      leader = #{leader,jdbcType=VARCHAR},
      one_result = #{oneResult,jdbcType=VARCHAR},
      two_result = #{twoResult,jdbcType=VARCHAR},
      true_time = #{trueTime,jdbcType=TIMESTAMP},
      one_overtime = #{oneOvertime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>