<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qunar.ops.recruit.dao.StudentAssessMapper" >
  <resultMap id="BaseResultMap" type="com.qunar.ops.recruit.model.StudentAssess" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="studen_id" property="studenId" jdbcType="INTEGER" />
    <result column="one_viewer" property="oneViewer" jdbcType="VARCHAR" />
    <result column="two_viewer" property="twoViewer" jdbcType="VARCHAR" />
    <result column="job" property="job" jdbcType="VARCHAR" />
    <result column="one_code" property="oneCode" jdbcType="INTEGER" />
    <result column="one_code_detail" property="oneCodeDetail" jdbcType="VARCHAR" />
    <result column="one_algorithm" property="oneAlgorithm" jdbcType="INTEGER" />
    <result column="one_algorithm_detail" property="oneAlgorithmDetail" jdbcType="VARCHAR" />
    <result column="one_network" property="oneNetwork" jdbcType="INTEGER" />
    <result column="one_network_detail" property="oneNetworkDetail" jdbcType="VARCHAR" />
    <result column="one_experience" property="oneExperience" jdbcType="INTEGER" />
    <result column="one_experience_detail" property="oneExperienceDetail" jdbcType="VARCHAR" />
    <result column="one_other" property="oneOther" jdbcType="INTEGER" />
    <result column="one_other_detail" property="oneOtherDetail" jdbcType="VARCHAR" />
    <result column="one_logic" property="oneLogic" jdbcType="INTEGER" />
    <result column="one_logic_detail" property="oneLogicDetail" jdbcType="VARCHAR" />
    <result column="one_creative" property="oneCreative" jdbcType="INTEGER" />
    <result column="one_creative_detail" property="oneCreativeDetail" jdbcType="VARCHAR" />
    <result column="one_team" property="oneTeam" jdbcType="INTEGER" />
    <result column="one_team_detail" property="oneTeamDetail" jdbcType="VARCHAR" />
    <result column="one_continuouslearning" property="oneContinuouslearning" jdbcType="INTEGER" />
    <result column="one_continuouslearning_detail" property="oneContinuouslearningDetail" jdbcType="VARCHAR" />
    <result column="one_outstanding" property="oneOutstanding" jdbcType="INTEGER" />
    <result column="one_outstanding_detail" property="oneOutstandingDetail" jdbcType="VARCHAR" />
    <result column="two_code" property="twoCode" jdbcType="INTEGER" />
    <result column="two_code_detail" property="twoCodeDetail" jdbcType="VARCHAR" />
    <result column="two_algorithm" property="twoAlgorithm" jdbcType="INTEGER" />
    <result column="two_algorithm_detail" property="twoAlgorithmDetail" jdbcType="VARCHAR" />
    <result column="two_network" property="twoNetwork" jdbcType="INTEGER" />
    <result column="two_network_detail" property="twoNetworkDetail" jdbcType="VARCHAR" />
    <result column="two_experience" property="twoExperience" jdbcType="INTEGER" />
    <result column="two_experience_detail" property="twoExperienceDetail" jdbcType="VARCHAR" />
    <result column="two_other" property="twoOther" jdbcType="INTEGER" />
    <result column="two_other_detail" property="twoOtherDetail" jdbcType="VARCHAR" />
    <result column="two_logic" property="twoLogic" jdbcType="INTEGER" />
    <result column="two_logic_detail" property="twoLogicDetail" jdbcType="VARCHAR" />
    <result column="two_creative" property="twoCreative" jdbcType="INTEGER" />
    <result column="two_creative_detail" property="twoCreativeDetail" jdbcType="VARCHAR" />
    <result column="two_team" property="twoTeam" jdbcType="INTEGER" />
    <result column="two_team_detail" property="twoTeamDetail" jdbcType="VARCHAR" />
    <result column="two_continuouslearning" property="twoContinuouslearning" jdbcType="INTEGER" />
    <result column="two_continuouslearning_detail" property="twoContinuouslearningDetail" jdbcType="VARCHAR" />
    <result column="two_outstanding" property="twoOutstanding" jdbcType="INTEGER" />
    <result column="two_outstanding_detail" property="twoOutstandingDetail" jdbcType="VARCHAR" />
    <result column="one_conclusion" property="oneConclusion" jdbcType="VARCHAR" />
    <result column="one_suggest_salary" property="oneSuggestSalary" jdbcType="INTEGER" />
    <result column="one_suggest_salary_detail" property="oneSuggestSalaryDetail" jdbcType="VARCHAR" />
    <result column="two_conclusion" property="twoConclusion" jdbcType="VARCHAR" />
    <result column="two_conclusion_detail" property="twoConclusionDetail" jdbcType="VARCHAR" />
    <result column="one_allocation_idea" property="oneAllocationIdea" jdbcType="VARCHAR" />
    <result column="two_allocation_idea" property="twoAllocationIdea" jdbcType="VARCHAR" />
    <result column="hr_name" property="hrName" jdbcType="VARCHAR" />
    <result column="hr_suggest_salary" property="hrSuggestSalary" jdbcType="INTEGER" />
    <result column="hr_detail_idea" property="hrDetailIdea" jdbcType="VARCHAR" />
    <result column="one_sum" property="oneSum" jdbcType="INTEGER" />
    <result column="two_sum" property="twoSum" jdbcType="INTEGER" />
    <result column="two_suggest_salary" property="twoSuggestSalary" jdbcType="INTEGER" />
    <result column="hr_conclusion" property="hrConclusion" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, studen_id, one_viewer, two_viewer, job, one_code, one_code_detail, one_algorithm, 
    one_algorithm_detail, one_network, one_network_detail, one_experience, one_experience_detail, 
    one_other, one_other_detail, one_logic, one_logic_detail, one_creative, one_creative_detail, 
    one_team, one_team_detail, one_continuouslearning, one_continuouslearning_detail, 
    one_outstanding, one_outstanding_detail, two_code, two_code_detail, two_algorithm, 
    two_algorithm_detail, two_network, two_network_detail, two_experience, two_experience_detail, 
    two_other, two_other_detail, two_logic, two_logic_detail, two_creative, two_creative_detail, 
    two_team, two_team_detail, two_continuouslearning, two_continuouslearning_detail, 
    two_outstanding, two_outstanding_detail, one_conclusion, one_suggest_salary, one_suggest_salary_detail, 
    two_conclusion, two_conclusion_detail, one_allocation_idea, two_allocation_idea, 
    hr_name, hr_suggest_salary, hr_detail_idea, one_sum, two_sum, two_suggest_salary, 
    hr_conclusion
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qunar.ops.recruit.model.StudentAssessExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from studentassess
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from studentassess
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from studentassess
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qunar.ops.recruit.model.StudentAssessExample" >
    delete from studentassess
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qunar.ops.recruit.model.StudentAssess" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      select currval('studentassess_id_seq')
    </selectKey>
    insert into studentassess (studen_id, one_viewer, two_viewer, 
      job, one_code, one_code_detail, 
      one_algorithm, one_algorithm_detail, one_network, 
      one_network_detail, one_experience, one_experience_detail, 
      one_other, one_other_detail, one_logic, 
      one_logic_detail, one_creative, one_creative_detail, 
      one_team, one_team_detail, one_continuouslearning, 
      one_continuouslearning_detail, one_outstanding, 
      one_outstanding_detail, two_code, two_code_detail, 
      two_algorithm, two_algorithm_detail, two_network, 
      two_network_detail, two_experience, two_experience_detail, 
      two_other, two_other_detail, two_logic, 
      two_logic_detail, two_creative, two_creative_detail, 
      two_team, two_team_detail, two_continuouslearning, 
      two_continuouslearning_detail, two_outstanding, 
      two_outstanding_detail, one_conclusion, one_suggest_salary, 
      one_suggest_salary_detail, two_conclusion, 
      two_conclusion_detail, one_allocation_idea, 
      two_allocation_idea, hr_name, hr_suggest_salary, 
      hr_detail_idea, one_sum, two_sum, 
      two_suggest_salary, hr_conclusion)
    values (#{studenId,jdbcType=INTEGER}, #{oneViewer,jdbcType=VARCHAR}, #{twoViewer,jdbcType=VARCHAR}, 
      #{job,jdbcType=VARCHAR}, #{oneCode,jdbcType=INTEGER}, #{oneCodeDetail,jdbcType=VARCHAR}, 
      #{oneAlgorithm,jdbcType=INTEGER}, #{oneAlgorithmDetail,jdbcType=VARCHAR}, #{oneNetwork,jdbcType=INTEGER}, 
      #{oneNetworkDetail,jdbcType=VARCHAR}, #{oneExperience,jdbcType=INTEGER}, #{oneExperienceDetail,jdbcType=VARCHAR}, 
      #{oneOther,jdbcType=INTEGER}, #{oneOtherDetail,jdbcType=VARCHAR}, #{oneLogic,jdbcType=INTEGER}, 
      #{oneLogicDetail,jdbcType=VARCHAR}, #{oneCreative,jdbcType=INTEGER}, #{oneCreativeDetail,jdbcType=VARCHAR}, 
      #{oneTeam,jdbcType=INTEGER}, #{oneTeamDetail,jdbcType=VARCHAR}, #{oneContinuouslearning,jdbcType=INTEGER}, 
      #{oneContinuouslearningDetail,jdbcType=VARCHAR}, #{oneOutstanding,jdbcType=INTEGER}, 
      #{oneOutstandingDetail,jdbcType=VARCHAR}, #{twoCode,jdbcType=INTEGER}, #{twoCodeDetail,jdbcType=VARCHAR}, 
      #{twoAlgorithm,jdbcType=INTEGER}, #{twoAlgorithmDetail,jdbcType=VARCHAR}, #{twoNetwork,jdbcType=INTEGER}, 
      #{twoNetworkDetail,jdbcType=VARCHAR}, #{twoExperience,jdbcType=INTEGER}, #{twoExperienceDetail,jdbcType=VARCHAR}, 
      #{twoOther,jdbcType=INTEGER}, #{twoOtherDetail,jdbcType=VARCHAR}, #{twoLogic,jdbcType=INTEGER}, 
      #{twoLogicDetail,jdbcType=VARCHAR}, #{twoCreative,jdbcType=INTEGER}, #{twoCreativeDetail,jdbcType=VARCHAR}, 
      #{twoTeam,jdbcType=INTEGER}, #{twoTeamDetail,jdbcType=VARCHAR}, #{twoContinuouslearning,jdbcType=INTEGER}, 
      #{twoContinuouslearningDetail,jdbcType=VARCHAR}, #{twoOutstanding,jdbcType=INTEGER}, 
      #{twoOutstandingDetail,jdbcType=VARCHAR}, #{oneConclusion,jdbcType=VARCHAR}, #{oneSuggestSalary,jdbcType=INTEGER}, 
      #{oneSuggestSalaryDetail,jdbcType=VARCHAR}, #{twoConclusion,jdbcType=VARCHAR}, 
      #{twoConclusionDetail,jdbcType=VARCHAR}, #{oneAllocationIdea,jdbcType=VARCHAR}, 
      #{twoAllocationIdea,jdbcType=VARCHAR}, #{hrName,jdbcType=VARCHAR}, #{hrSuggestSalary,jdbcType=INTEGER}, 
      #{hrDetailIdea,jdbcType=VARCHAR}, #{oneSum,jdbcType=INTEGER}, #{twoSum,jdbcType=INTEGER}, 
      #{twoSuggestSalary,jdbcType=INTEGER}, #{hrConclusion,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qunar.ops.recruit.model.StudentAssess" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      select currval('studentassess_id_seq')
    </selectKey>
    insert into studentassess
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="studenId != null" >
        studen_id,
      </if>
      <if test="oneViewer != null" >
        one_viewer,
      </if>
      <if test="twoViewer != null" >
        two_viewer,
      </if>
      <if test="job != null" >
        job,
      </if>
      <if test="oneCode != null" >
        one_code,
      </if>
      <if test="oneCodeDetail != null" >
        one_code_detail,
      </if>
      <if test="oneAlgorithm != null" >
        one_algorithm,
      </if>
      <if test="oneAlgorithmDetail != null" >
        one_algorithm_detail,
      </if>
      <if test="oneNetwork != null" >
        one_network,
      </if>
      <if test="oneNetworkDetail != null" >
        one_network_detail,
      </if>
      <if test="oneExperience != null" >
        one_experience,
      </if>
      <if test="oneExperienceDetail != null" >
        one_experience_detail,
      </if>
      <if test="oneOther != null" >
        one_other,
      </if>
      <if test="oneOtherDetail != null" >
        one_other_detail,
      </if>
      <if test="oneLogic != null" >
        one_logic,
      </if>
      <if test="oneLogicDetail != null" >
        one_logic_detail,
      </if>
      <if test="oneCreative != null" >
        one_creative,
      </if>
      <if test="oneCreativeDetail != null" >
        one_creative_detail,
      </if>
      <if test="oneTeam != null" >
        one_team,
      </if>
      <if test="oneTeamDetail != null" >
        one_team_detail,
      </if>
      <if test="oneContinuouslearning != null" >
        one_continuouslearning,
      </if>
      <if test="oneContinuouslearningDetail != null" >
        one_continuouslearning_detail,
      </if>
      <if test="oneOutstanding != null" >
        one_outstanding,
      </if>
      <if test="oneOutstandingDetail != null" >
        one_outstanding_detail,
      </if>
      <if test="twoCode != null" >
        two_code,
      </if>
      <if test="twoCodeDetail != null" >
        two_code_detail,
      </if>
      <if test="twoAlgorithm != null" >
        two_algorithm,
      </if>
      <if test="twoAlgorithmDetail != null" >
        two_algorithm_detail,
      </if>
      <if test="twoNetwork != null" >
        two_network,
      </if>
      <if test="twoNetworkDetail != null" >
        two_network_detail,
      </if>
      <if test="twoExperience != null" >
        two_experience,
      </if>
      <if test="twoExperienceDetail != null" >
        two_experience_detail,
      </if>
      <if test="twoOther != null" >
        two_other,
      </if>
      <if test="twoOtherDetail != null" >
        two_other_detail,
      </if>
      <if test="twoLogic != null" >
        two_logic,
      </if>
      <if test="twoLogicDetail != null" >
        two_logic_detail,
      </if>
      <if test="twoCreative != null" >
        two_creative,
      </if>
      <if test="twoCreativeDetail != null" >
        two_creative_detail,
      </if>
      <if test="twoTeam != null" >
        two_team,
      </if>
      <if test="twoTeamDetail != null" >
        two_team_detail,
      </if>
      <if test="twoContinuouslearning != null" >
        two_continuouslearning,
      </if>
      <if test="twoContinuouslearningDetail != null" >
        two_continuouslearning_detail,
      </if>
      <if test="twoOutstanding != null" >
        two_outstanding,
      </if>
      <if test="twoOutstandingDetail != null" >
        two_outstanding_detail,
      </if>
      <if test="oneConclusion != null" >
        one_conclusion,
      </if>
      <if test="oneSuggestSalary != null" >
        one_suggest_salary,
      </if>
      <if test="oneSuggestSalaryDetail != null" >
        one_suggest_salary_detail,
      </if>
      <if test="twoConclusion != null" >
        two_conclusion,
      </if>
      <if test="twoConclusionDetail != null" >
        two_conclusion_detail,
      </if>
      <if test="oneAllocationIdea != null" >
        one_allocation_idea,
      </if>
      <if test="twoAllocationIdea != null" >
        two_allocation_idea,
      </if>
      <if test="hrName != null" >
        hr_name,
      </if>
      <if test="hrSuggestSalary != null" >
        hr_suggest_salary,
      </if>
      <if test="hrDetailIdea != null" >
        hr_detail_idea,
      </if>
      <if test="oneSum != null" >
        one_sum,
      </if>
      <if test="twoSum != null" >
        two_sum,
      </if>
      <if test="twoSuggestSalary != null" >
        two_suggest_salary,
      </if>
      <if test="hrConclusion != null" >
        hr_conclusion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="studenId != null" >
        #{studenId,jdbcType=INTEGER},
      </if>
      <if test="oneViewer != null" >
        #{oneViewer,jdbcType=VARCHAR},
      </if>
      <if test="twoViewer != null" >
        #{twoViewer,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="oneCode != null" >
        #{oneCode,jdbcType=INTEGER},
      </if>
      <if test="oneCodeDetail != null" >
        #{oneCodeDetail,jdbcType=VARCHAR},
      </if>
      <if test="oneAlgorithm != null" >
        #{oneAlgorithm,jdbcType=INTEGER},
      </if>
      <if test="oneAlgorithmDetail != null" >
        #{oneAlgorithmDetail,jdbcType=VARCHAR},
      </if>
      <if test="oneNetwork != null" >
        #{oneNetwork,jdbcType=INTEGER},
      </if>
      <if test="oneNetworkDetail != null" >
        #{oneNetworkDetail,jdbcType=VARCHAR},
      </if>
      <if test="oneExperience != null" >
        #{oneExperience,jdbcType=INTEGER},
      </if>
      <if test="oneExperienceDetail != null" >
        #{oneExperienceDetail,jdbcType=VARCHAR},
      </if>
      <if test="oneOther != null" >
        #{oneOther,jdbcType=INTEGER},
      </if>
      <if test="oneOtherDetail != null" >
        #{oneOtherDetail,jdbcType=VARCHAR},
      </if>
      <if test="oneLogic != null" >
        #{oneLogic,jdbcType=INTEGER},
      </if>
      <if test="oneLogicDetail != null" >
        #{oneLogicDetail,jdbcType=VARCHAR},
      </if>
      <if test="oneCreative != null" >
        #{oneCreative,jdbcType=INTEGER},
      </if>
      <if test="oneCreativeDetail != null" >
        #{oneCreativeDetail,jdbcType=VARCHAR},
      </if>
      <if test="oneTeam != null" >
        #{oneTeam,jdbcType=INTEGER},
      </if>
      <if test="oneTeamDetail != null" >
        #{oneTeamDetail,jdbcType=VARCHAR},
      </if>
      <if test="oneContinuouslearning != null" >
        #{oneContinuouslearning,jdbcType=INTEGER},
      </if>
      <if test="oneContinuouslearningDetail != null" >
        #{oneContinuouslearningDetail,jdbcType=VARCHAR},
      </if>
      <if test="oneOutstanding != null" >
        #{oneOutstanding,jdbcType=INTEGER},
      </if>
      <if test="oneOutstandingDetail != null" >
        #{oneOutstandingDetail,jdbcType=VARCHAR},
      </if>
      <if test="twoCode != null" >
        #{twoCode,jdbcType=INTEGER},
      </if>
      <if test="twoCodeDetail != null" >
        #{twoCodeDetail,jdbcType=VARCHAR},
      </if>
      <if test="twoAlgorithm != null" >
        #{twoAlgorithm,jdbcType=INTEGER},
      </if>
      <if test="twoAlgorithmDetail != null" >
        #{twoAlgorithmDetail,jdbcType=VARCHAR},
      </if>
      <if test="twoNetwork != null" >
        #{twoNetwork,jdbcType=INTEGER},
      </if>
      <if test="twoNetworkDetail != null" >
        #{twoNetworkDetail,jdbcType=VARCHAR},
      </if>
      <if test="twoExperience != null" >
        #{twoExperience,jdbcType=INTEGER},
      </if>
      <if test="twoExperienceDetail != null" >
        #{twoExperienceDetail,jdbcType=VARCHAR},
      </if>
      <if test="twoOther != null" >
        #{twoOther,jdbcType=INTEGER},
      </if>
      <if test="twoOtherDetail != null" >
        #{twoOtherDetail,jdbcType=VARCHAR},
      </if>
      <if test="twoLogic != null" >
        #{twoLogic,jdbcType=INTEGER},
      </if>
      <if test="twoLogicDetail != null" >
        #{twoLogicDetail,jdbcType=VARCHAR},
      </if>
      <if test="twoCreative != null" >
        #{twoCreative,jdbcType=INTEGER},
      </if>
      <if test="twoCreativeDetail != null" >
        #{twoCreativeDetail,jdbcType=VARCHAR},
      </if>
      <if test="twoTeam != null" >
        #{twoTeam,jdbcType=INTEGER},
      </if>
      <if test="twoTeamDetail != null" >
        #{twoTeamDetail,jdbcType=VARCHAR},
      </if>
      <if test="twoContinuouslearning != null" >
        #{twoContinuouslearning,jdbcType=INTEGER},
      </if>
      <if test="twoContinuouslearningDetail != null" >
        #{twoContinuouslearningDetail,jdbcType=VARCHAR},
      </if>
      <if test="twoOutstanding != null" >
        #{twoOutstanding,jdbcType=INTEGER},
      </if>
      <if test="twoOutstandingDetail != null" >
        #{twoOutstandingDetail,jdbcType=VARCHAR},
      </if>
      <if test="oneConclusion != null" >
        #{oneConclusion,jdbcType=VARCHAR},
      </if>
      <if test="oneSuggestSalary != null" >
        #{oneSuggestSalary,jdbcType=INTEGER},
      </if>
      <if test="oneSuggestSalaryDetail != null" >
        #{oneSuggestSalaryDetail,jdbcType=VARCHAR},
      </if>
      <if test="twoConclusion != null" >
        #{twoConclusion,jdbcType=VARCHAR},
      </if>
      <if test="twoConclusionDetail != null" >
        #{twoConclusionDetail,jdbcType=VARCHAR},
      </if>
      <if test="oneAllocationIdea != null" >
        #{oneAllocationIdea,jdbcType=VARCHAR},
      </if>
      <if test="twoAllocationIdea != null" >
        #{twoAllocationIdea,jdbcType=VARCHAR},
      </if>
      <if test="hrName != null" >
        #{hrName,jdbcType=VARCHAR},
      </if>
      <if test="hrSuggestSalary != null" >
        #{hrSuggestSalary,jdbcType=INTEGER},
      </if>
      <if test="hrDetailIdea != null" >
        #{hrDetailIdea,jdbcType=VARCHAR},
      </if>
      <if test="oneSum != null" >
        #{oneSum,jdbcType=INTEGER},
      </if>
      <if test="twoSum != null" >
        #{twoSum,jdbcType=INTEGER},
      </if>
      <if test="twoSuggestSalary != null" >
        #{twoSuggestSalary,jdbcType=INTEGER},
      </if>
      <if test="hrConclusion != null" >
        #{hrConclusion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qunar.ops.recruit.model.StudentAssessExample" resultType="java.lang.Integer" >
    select count(*) from studentassess
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update studentassess
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.studenId != null" >
        studen_id = #{record.studenId,jdbcType=INTEGER},
      </if>
      <if test="record.oneViewer != null" >
        one_viewer = #{record.oneViewer,jdbcType=VARCHAR},
      </if>
      <if test="record.twoViewer != null" >
        two_viewer = #{record.twoViewer,jdbcType=VARCHAR},
      </if>
      <if test="record.job != null" >
        job = #{record.job,jdbcType=VARCHAR},
      </if>
      <if test="record.oneCode != null" >
        one_code = #{record.oneCode,jdbcType=INTEGER},
      </if>
      <if test="record.oneCodeDetail != null" >
        one_code_detail = #{record.oneCodeDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.oneAlgorithm != null" >
        one_algorithm = #{record.oneAlgorithm,jdbcType=INTEGER},
      </if>
      <if test="record.oneAlgorithmDetail != null" >
        one_algorithm_detail = #{record.oneAlgorithmDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.oneNetwork != null" >
        one_network = #{record.oneNetwork,jdbcType=INTEGER},
      </if>
      <if test="record.oneNetworkDetail != null" >
        one_network_detail = #{record.oneNetworkDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.oneExperience != null" >
        one_experience = #{record.oneExperience,jdbcType=INTEGER},
      </if>
      <if test="record.oneExperienceDetail != null" >
        one_experience_detail = #{record.oneExperienceDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.oneOther != null" >
        one_other = #{record.oneOther,jdbcType=INTEGER},
      </if>
      <if test="record.oneOtherDetail != null" >
        one_other_detail = #{record.oneOtherDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.oneLogic != null" >
        one_logic = #{record.oneLogic,jdbcType=INTEGER},
      </if>
      <if test="record.oneLogicDetail != null" >
        one_logic_detail = #{record.oneLogicDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.oneCreative != null" >
        one_creative = #{record.oneCreative,jdbcType=INTEGER},
      </if>
      <if test="record.oneCreativeDetail != null" >
        one_creative_detail = #{record.oneCreativeDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.oneTeam != null" >
        one_team = #{record.oneTeam,jdbcType=INTEGER},
      </if>
      <if test="record.oneTeamDetail != null" >
        one_team_detail = #{record.oneTeamDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.oneContinuouslearning != null" >
        one_continuouslearning = #{record.oneContinuouslearning,jdbcType=INTEGER},
      </if>
      <if test="record.oneContinuouslearningDetail != null" >
        one_continuouslearning_detail = #{record.oneContinuouslearningDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.oneOutstanding != null" >
        one_outstanding = #{record.oneOutstanding,jdbcType=INTEGER},
      </if>
      <if test="record.oneOutstandingDetail != null" >
        one_outstanding_detail = #{record.oneOutstandingDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.twoCode != null" >
        two_code = #{record.twoCode,jdbcType=INTEGER},
      </if>
      <if test="record.twoCodeDetail != null" >
        two_code_detail = #{record.twoCodeDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.twoAlgorithm != null" >
        two_algorithm = #{record.twoAlgorithm,jdbcType=INTEGER},
      </if>
      <if test="record.twoAlgorithmDetail != null" >
        two_algorithm_detail = #{record.twoAlgorithmDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.twoNetwork != null" >
        two_network = #{record.twoNetwork,jdbcType=INTEGER},
      </if>
      <if test="record.twoNetworkDetail != null" >
        two_network_detail = #{record.twoNetworkDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.twoExperience != null" >
        two_experience = #{record.twoExperience,jdbcType=INTEGER},
      </if>
      <if test="record.twoExperienceDetail != null" >
        two_experience_detail = #{record.twoExperienceDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.twoOther != null" >
        two_other = #{record.twoOther,jdbcType=INTEGER},
      </if>
      <if test="record.twoOtherDetail != null" >
        two_other_detail = #{record.twoOtherDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.twoLogic != null" >
        two_logic = #{record.twoLogic,jdbcType=INTEGER},
      </if>
      <if test="record.twoLogicDetail != null" >
        two_logic_detail = #{record.twoLogicDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.twoCreative != null" >
        two_creative = #{record.twoCreative,jdbcType=INTEGER},
      </if>
      <if test="record.twoCreativeDetail != null" >
        two_creative_detail = #{record.twoCreativeDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.twoTeam != null" >
        two_team = #{record.twoTeam,jdbcType=INTEGER},
      </if>
      <if test="record.twoTeamDetail != null" >
        two_team_detail = #{record.twoTeamDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.twoContinuouslearning != null" >
        two_continuouslearning = #{record.twoContinuouslearning,jdbcType=INTEGER},
      </if>
      <if test="record.twoContinuouslearningDetail != null" >
        two_continuouslearning_detail = #{record.twoContinuouslearningDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.twoOutstanding != null" >
        two_outstanding = #{record.twoOutstanding,jdbcType=INTEGER},
      </if>
      <if test="record.twoOutstandingDetail != null" >
        two_outstanding_detail = #{record.twoOutstandingDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.oneConclusion != null" >
        one_conclusion = #{record.oneConclusion,jdbcType=VARCHAR},
      </if>
      <if test="record.oneSuggestSalary != null" >
        one_suggest_salary = #{record.oneSuggestSalary,jdbcType=INTEGER},
      </if>
      <if test="record.oneSuggestSalaryDetail != null" >
        one_suggest_salary_detail = #{record.oneSuggestSalaryDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.twoConclusion != null" >
        two_conclusion = #{record.twoConclusion,jdbcType=VARCHAR},
      </if>
      <if test="record.twoConclusionDetail != null" >
        two_conclusion_detail = #{record.twoConclusionDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.oneAllocationIdea != null" >
        one_allocation_idea = #{record.oneAllocationIdea,jdbcType=VARCHAR},
      </if>
      <if test="record.twoAllocationIdea != null" >
        two_allocation_idea = #{record.twoAllocationIdea,jdbcType=VARCHAR},
      </if>
      <if test="record.hrName != null" >
        hr_name = #{record.hrName,jdbcType=VARCHAR},
      </if>
      <if test="record.hrSuggestSalary != null" >
        hr_suggest_salary = #{record.hrSuggestSalary,jdbcType=INTEGER},
      </if>
      <if test="record.hrDetailIdea != null" >
        hr_detail_idea = #{record.hrDetailIdea,jdbcType=VARCHAR},
      </if>
      <if test="record.oneSum != null" >
        one_sum = #{record.oneSum,jdbcType=INTEGER},
      </if>
      <if test="record.twoSum != null" >
        two_sum = #{record.twoSum,jdbcType=INTEGER},
      </if>
      <if test="record.twoSuggestSalary != null" >
        two_suggest_salary = #{record.twoSuggestSalary,jdbcType=INTEGER},
      </if>
      <if test="record.hrConclusion != null" >
        hr_conclusion = #{record.hrConclusion,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update studentassess
    set id = #{record.id,jdbcType=INTEGER},
      studen_id = #{record.studenId,jdbcType=INTEGER},
      one_viewer = #{record.oneViewer,jdbcType=VARCHAR},
      two_viewer = #{record.twoViewer,jdbcType=VARCHAR},
      job = #{record.job,jdbcType=VARCHAR},
      one_code = #{record.oneCode,jdbcType=INTEGER},
      one_code_detail = #{record.oneCodeDetail,jdbcType=VARCHAR},
      one_algorithm = #{record.oneAlgorithm,jdbcType=INTEGER},
      one_algorithm_detail = #{record.oneAlgorithmDetail,jdbcType=VARCHAR},
      one_network = #{record.oneNetwork,jdbcType=INTEGER},
      one_network_detail = #{record.oneNetworkDetail,jdbcType=VARCHAR},
      one_experience = #{record.oneExperience,jdbcType=INTEGER},
      one_experience_detail = #{record.oneExperienceDetail,jdbcType=VARCHAR},
      one_other = #{record.oneOther,jdbcType=INTEGER},
      one_other_detail = #{record.oneOtherDetail,jdbcType=VARCHAR},
      one_logic = #{record.oneLogic,jdbcType=INTEGER},
      one_logic_detail = #{record.oneLogicDetail,jdbcType=VARCHAR},
      one_creative = #{record.oneCreative,jdbcType=INTEGER},
      one_creative_detail = #{record.oneCreativeDetail,jdbcType=VARCHAR},
      one_team = #{record.oneTeam,jdbcType=INTEGER},
      one_team_detail = #{record.oneTeamDetail,jdbcType=VARCHAR},
      one_continuouslearning = #{record.oneContinuouslearning,jdbcType=INTEGER},
      one_continuouslearning_detail = #{record.oneContinuouslearningDetail,jdbcType=VARCHAR},
      one_outstanding = #{record.oneOutstanding,jdbcType=INTEGER},
      one_outstanding_detail = #{record.oneOutstandingDetail,jdbcType=VARCHAR},
      two_code = #{record.twoCode,jdbcType=INTEGER},
      two_code_detail = #{record.twoCodeDetail,jdbcType=VARCHAR},
      two_algorithm = #{record.twoAlgorithm,jdbcType=INTEGER},
      two_algorithm_detail = #{record.twoAlgorithmDetail,jdbcType=VARCHAR},
      two_network = #{record.twoNetwork,jdbcType=INTEGER},
      two_network_detail = #{record.twoNetworkDetail,jdbcType=VARCHAR},
      two_experience = #{record.twoExperience,jdbcType=INTEGER},
      two_experience_detail = #{record.twoExperienceDetail,jdbcType=VARCHAR},
      two_other = #{record.twoOther,jdbcType=INTEGER},
      two_other_detail = #{record.twoOtherDetail,jdbcType=VARCHAR},
      two_logic = #{record.twoLogic,jdbcType=INTEGER},
      two_logic_detail = #{record.twoLogicDetail,jdbcType=VARCHAR},
      two_creative = #{record.twoCreative,jdbcType=INTEGER},
      two_creative_detail = #{record.twoCreativeDetail,jdbcType=VARCHAR},
      two_team = #{record.twoTeam,jdbcType=INTEGER},
      two_team_detail = #{record.twoTeamDetail,jdbcType=VARCHAR},
      two_continuouslearning = #{record.twoContinuouslearning,jdbcType=INTEGER},
      two_continuouslearning_detail = #{record.twoContinuouslearningDetail,jdbcType=VARCHAR},
      two_outstanding = #{record.twoOutstanding,jdbcType=INTEGER},
      two_outstanding_detail = #{record.twoOutstandingDetail,jdbcType=VARCHAR},
      one_conclusion = #{record.oneConclusion,jdbcType=VARCHAR},
      one_suggest_salary = #{record.oneSuggestSalary,jdbcType=INTEGER},
      one_suggest_salary_detail = #{record.oneSuggestSalaryDetail,jdbcType=VARCHAR},
      two_conclusion = #{record.twoConclusion,jdbcType=VARCHAR},
      two_conclusion_detail = #{record.twoConclusionDetail,jdbcType=VARCHAR},
      one_allocation_idea = #{record.oneAllocationIdea,jdbcType=VARCHAR},
      two_allocation_idea = #{record.twoAllocationIdea,jdbcType=VARCHAR},
      hr_name = #{record.hrName,jdbcType=VARCHAR},
      hr_suggest_salary = #{record.hrSuggestSalary,jdbcType=INTEGER},
      hr_detail_idea = #{record.hrDetailIdea,jdbcType=VARCHAR},
      one_sum = #{record.oneSum,jdbcType=INTEGER},
      two_sum = #{record.twoSum,jdbcType=INTEGER},
      two_suggest_salary = #{record.twoSuggestSalary,jdbcType=INTEGER},
      hr_conclusion = #{record.hrConclusion,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qunar.ops.recruit.model.StudentAssess" >
    update studentassess
    <set >
      <if test="studenId != null" >
        studen_id = #{studenId,jdbcType=INTEGER},
      </if>
      <if test="oneViewer != null" >
        one_viewer = #{oneViewer,jdbcType=VARCHAR},
      </if>
      <if test="twoViewer != null" >
        two_viewer = #{twoViewer,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        job = #{job,jdbcType=VARCHAR},
      </if>
      <if test="oneCode != null" >
        one_code = #{oneCode,jdbcType=INTEGER},
      </if>
      <if test="oneCodeDetail != null" >
        one_code_detail = #{oneCodeDetail,jdbcType=VARCHAR},
      </if>
      <if test="oneAlgorithm != null" >
        one_algorithm = #{oneAlgorithm,jdbcType=INTEGER},
      </if>
      <if test="oneAlgorithmDetail != null" >
        one_algorithm_detail = #{oneAlgorithmDetail,jdbcType=VARCHAR},
      </if>
      <if test="oneNetwork != null" >
        one_network = #{oneNetwork,jdbcType=INTEGER},
      </if>
      <if test="oneNetworkDetail != null" >
        one_network_detail = #{oneNetworkDetail,jdbcType=VARCHAR},
      </if>
      <if test="oneExperience != null" >
        one_experience = #{oneExperience,jdbcType=INTEGER},
      </if>
      <if test="oneExperienceDetail != null" >
        one_experience_detail = #{oneExperienceDetail,jdbcType=VARCHAR},
      </if>
      <if test="oneOther != null" >
        one_other = #{oneOther,jdbcType=INTEGER},
      </if>
      <if test="oneOtherDetail != null" >
        one_other_detail = #{oneOtherDetail,jdbcType=VARCHAR},
      </if>
      <if test="oneLogic != null" >
        one_logic = #{oneLogic,jdbcType=INTEGER},
      </if>
      <if test="oneLogicDetail != null" >
        one_logic_detail = #{oneLogicDetail,jdbcType=VARCHAR},
      </if>
      <if test="oneCreative != null" >
        one_creative = #{oneCreative,jdbcType=INTEGER},
      </if>
      <if test="oneCreativeDetail != null" >
        one_creative_detail = #{oneCreativeDetail,jdbcType=VARCHAR},
      </if>
      <if test="oneTeam != null" >
        one_team = #{oneTeam,jdbcType=INTEGER},
      </if>
      <if test="oneTeamDetail != null" >
        one_team_detail = #{oneTeamDetail,jdbcType=VARCHAR},
      </if>
      <if test="oneContinuouslearning != null" >
        one_continuouslearning = #{oneContinuouslearning,jdbcType=INTEGER},
      </if>
      <if test="oneContinuouslearningDetail != null" >
        one_continuouslearning_detail = #{oneContinuouslearningDetail,jdbcType=VARCHAR},
      </if>
      <if test="oneOutstanding != null" >
        one_outstanding = #{oneOutstanding,jdbcType=INTEGER},
      </if>
      <if test="oneOutstandingDetail != null" >
        one_outstanding_detail = #{oneOutstandingDetail,jdbcType=VARCHAR},
      </if>
      <if test="twoCode != null" >
        two_code = #{twoCode,jdbcType=INTEGER},
      </if>
      <if test="twoCodeDetail != null" >
        two_code_detail = #{twoCodeDetail,jdbcType=VARCHAR},
      </if>
      <if test="twoAlgorithm != null" >
        two_algorithm = #{twoAlgorithm,jdbcType=INTEGER},
      </if>
      <if test="twoAlgorithmDetail != null" >
        two_algorithm_detail = #{twoAlgorithmDetail,jdbcType=VARCHAR},
      </if>
      <if test="twoNetwork != null" >
        two_network = #{twoNetwork,jdbcType=INTEGER},
      </if>
      <if test="twoNetworkDetail != null" >
        two_network_detail = #{twoNetworkDetail,jdbcType=VARCHAR},
      </if>
      <if test="twoExperience != null" >
        two_experience = #{twoExperience,jdbcType=INTEGER},
      </if>
      <if test="twoExperienceDetail != null" >
        two_experience_detail = #{twoExperienceDetail,jdbcType=VARCHAR},
      </if>
      <if test="twoOther != null" >
        two_other = #{twoOther,jdbcType=INTEGER},
      </if>
      <if test="twoOtherDetail != null" >
        two_other_detail = #{twoOtherDetail,jdbcType=VARCHAR},
      </if>
      <if test="twoLogic != null" >
        two_logic = #{twoLogic,jdbcType=INTEGER},
      </if>
      <if test="twoLogicDetail != null" >
        two_logic_detail = #{twoLogicDetail,jdbcType=VARCHAR},
      </if>
      <if test="twoCreative != null" >
        two_creative = #{twoCreative,jdbcType=INTEGER},
      </if>
      <if test="twoCreativeDetail != null" >
        two_creative_detail = #{twoCreativeDetail,jdbcType=VARCHAR},
      </if>
      <if test="twoTeam != null" >
        two_team = #{twoTeam,jdbcType=INTEGER},
      </if>
      <if test="twoTeamDetail != null" >
        two_team_detail = #{twoTeamDetail,jdbcType=VARCHAR},
      </if>
      <if test="twoContinuouslearning != null" >
        two_continuouslearning = #{twoContinuouslearning,jdbcType=INTEGER},
      </if>
      <if test="twoContinuouslearningDetail != null" >
        two_continuouslearning_detail = #{twoContinuouslearningDetail,jdbcType=VARCHAR},
      </if>
      <if test="twoOutstanding != null" >
        two_outstanding = #{twoOutstanding,jdbcType=INTEGER},
      </if>
      <if test="twoOutstandingDetail != null" >
        two_outstanding_detail = #{twoOutstandingDetail,jdbcType=VARCHAR},
      </if>
      <if test="oneConclusion != null" >
        one_conclusion = #{oneConclusion,jdbcType=VARCHAR},
      </if>
      <if test="oneSuggestSalary != null" >
        one_suggest_salary = #{oneSuggestSalary,jdbcType=INTEGER},
      </if>
      <if test="oneSuggestSalaryDetail != null" >
        one_suggest_salary_detail = #{oneSuggestSalaryDetail,jdbcType=VARCHAR},
      </if>
      <if test="twoConclusion != null" >
        two_conclusion = #{twoConclusion,jdbcType=VARCHAR},
      </if>
      <if test="twoConclusionDetail != null" >
        two_conclusion_detail = #{twoConclusionDetail,jdbcType=VARCHAR},
      </if>
      <if test="oneAllocationIdea != null" >
        one_allocation_idea = #{oneAllocationIdea,jdbcType=VARCHAR},
      </if>
      <if test="twoAllocationIdea != null" >
        two_allocation_idea = #{twoAllocationIdea,jdbcType=VARCHAR},
      </if>
      <if test="hrName != null" >
        hr_name = #{hrName,jdbcType=VARCHAR},
      </if>
      <if test="hrSuggestSalary != null" >
        hr_suggest_salary = #{hrSuggestSalary,jdbcType=INTEGER},
      </if>
      <if test="hrDetailIdea != null" >
        hr_detail_idea = #{hrDetailIdea,jdbcType=VARCHAR},
      </if>
      <if test="oneSum != null" >
        one_sum = #{oneSum,jdbcType=INTEGER},
      </if>
      <if test="twoSum != null" >
        two_sum = #{twoSum,jdbcType=INTEGER},
      </if>
      <if test="twoSuggestSalary != null" >
        two_suggest_salary = #{twoSuggestSalary,jdbcType=INTEGER},
      </if>
      <if test="hrConclusion != null" >
        hr_conclusion = #{hrConclusion,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qunar.ops.recruit.model.StudentAssess" >
    update studentassess
    set studen_id = #{studenId,jdbcType=INTEGER},
      one_viewer = #{oneViewer,jdbcType=VARCHAR},
      two_viewer = #{twoViewer,jdbcType=VARCHAR},
      job = #{job,jdbcType=VARCHAR},
      one_code = #{oneCode,jdbcType=INTEGER},
      one_code_detail = #{oneCodeDetail,jdbcType=VARCHAR},
      one_algorithm = #{oneAlgorithm,jdbcType=INTEGER},
      one_algorithm_detail = #{oneAlgorithmDetail,jdbcType=VARCHAR},
      one_network = #{oneNetwork,jdbcType=INTEGER},
      one_network_detail = #{oneNetworkDetail,jdbcType=VARCHAR},
      one_experience = #{oneExperience,jdbcType=INTEGER},
      one_experience_detail = #{oneExperienceDetail,jdbcType=VARCHAR},
      one_other = #{oneOther,jdbcType=INTEGER},
      one_other_detail = #{oneOtherDetail,jdbcType=VARCHAR},
      one_logic = #{oneLogic,jdbcType=INTEGER},
      one_logic_detail = #{oneLogicDetail,jdbcType=VARCHAR},
      one_creative = #{oneCreative,jdbcType=INTEGER},
      one_creative_detail = #{oneCreativeDetail,jdbcType=VARCHAR},
      one_team = #{oneTeam,jdbcType=INTEGER},
      one_team_detail = #{oneTeamDetail,jdbcType=VARCHAR},
      one_continuouslearning = #{oneContinuouslearning,jdbcType=INTEGER},
      one_continuouslearning_detail = #{oneContinuouslearningDetail,jdbcType=VARCHAR},
      one_outstanding = #{oneOutstanding,jdbcType=INTEGER},
      one_outstanding_detail = #{oneOutstandingDetail,jdbcType=VARCHAR},
      two_code = #{twoCode,jdbcType=INTEGER},
      two_code_detail = #{twoCodeDetail,jdbcType=VARCHAR},
      two_algorithm = #{twoAlgorithm,jdbcType=INTEGER},
      two_algorithm_detail = #{twoAlgorithmDetail,jdbcType=VARCHAR},
      two_network = #{twoNetwork,jdbcType=INTEGER},
      two_network_detail = #{twoNetworkDetail,jdbcType=VARCHAR},
      two_experience = #{twoExperience,jdbcType=INTEGER},
      two_experience_detail = #{twoExperienceDetail,jdbcType=VARCHAR},
      two_other = #{twoOther,jdbcType=INTEGER},
      two_other_detail = #{twoOtherDetail,jdbcType=VARCHAR},
      two_logic = #{twoLogic,jdbcType=INTEGER},
      two_logic_detail = #{twoLogicDetail,jdbcType=VARCHAR},
      two_creative = #{twoCreative,jdbcType=INTEGER},
      two_creative_detail = #{twoCreativeDetail,jdbcType=VARCHAR},
      two_team = #{twoTeam,jdbcType=INTEGER},
      two_team_detail = #{twoTeamDetail,jdbcType=VARCHAR},
      two_continuouslearning = #{twoContinuouslearning,jdbcType=INTEGER},
      two_continuouslearning_detail = #{twoContinuouslearningDetail,jdbcType=VARCHAR},
      two_outstanding = #{twoOutstanding,jdbcType=INTEGER},
      two_outstanding_detail = #{twoOutstandingDetail,jdbcType=VARCHAR},
      one_conclusion = #{oneConclusion,jdbcType=VARCHAR},
      one_suggest_salary = #{oneSuggestSalary,jdbcType=INTEGER},
      one_suggest_salary_detail = #{oneSuggestSalaryDetail,jdbcType=VARCHAR},
      two_conclusion = #{twoConclusion,jdbcType=VARCHAR},
      two_conclusion_detail = #{twoConclusionDetail,jdbcType=VARCHAR},
      one_allocation_idea = #{oneAllocationIdea,jdbcType=VARCHAR},
      two_allocation_idea = #{twoAllocationIdea,jdbcType=VARCHAR},
      hr_name = #{hrName,jdbcType=VARCHAR},
      hr_suggest_salary = #{hrSuggestSalary,jdbcType=INTEGER},
      hr_detail_idea = #{hrDetailIdea,jdbcType=VARCHAR},
      one_sum = #{oneSum,jdbcType=INTEGER},
      two_sum = #{twoSum,jdbcType=INTEGER},
      two_suggest_salary = #{twoSuggestSalary,jdbcType=INTEGER},
      hr_conclusion = #{hrConclusion,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>