<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qunar.ops.oaengine.dao.Formson0116Mapper" >
  <resultMap id="BaseResultMap" type="com.qunar.ops.oaengine.model.Formson0116" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="formmain_0114id" property="formmain0114id" jdbcType="BIGINT" />
    <result column="field0041" property="field0041" jdbcType="DATE" />
    <result column="field0042" property="field0042" jdbcType="VARCHAR" />
    <result column="field0043" property="field0043" jdbcType="BIGINT" />
    <result column="field0044" property="field0044" jdbcType="VARCHAR" />
    <result column="field0045" property="field0045" jdbcType="VARCHAR" />
    <result column="field0046" property="field0046" jdbcType="VARCHAR" />
    <result column="field0047" property="field0047" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, formmain_0114id, field0041, field0042, field0043, field0044, field0045, field0046, 
    field0047, sort
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qunar.ops.oaengine.model.Formson0116Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from formson_0116
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit >= 0" >
      limit ${limit} offset ${offset}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from formson_0116
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from formson_0116
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qunar.ops.oaengine.model.Formson0116Example" >
    delete from formson_0116
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qunar.ops.oaengine.model.Formson0116" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      select currval('formson_0116_id_seq')
    </selectKey>
    insert into formson_0116 (formmain_0114id, field0041, field0042, 
      field0043, field0044, field0045, 
      field0046, field0047, sort
      )
    values (#{formmain0114id,jdbcType=BIGINT}, #{field0041,jdbcType=DATE}, #{field0042,jdbcType=VARCHAR}, 
      #{field0043,jdbcType=BIGINT}, #{field0044,jdbcType=VARCHAR}, #{field0045,jdbcType=VARCHAR}, 
      #{field0046,jdbcType=VARCHAR}, #{field0047,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qunar.ops.oaengine.model.Formson0116" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      select currval('formson_0116_id_seq')
    </selectKey>
    insert into formson_0116
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="formmain0114id != null" >
        formmain_0114id,
      </if>
      <if test="field0041 != null" >
        field0041,
      </if>
      <if test="field0042 != null" >
        field0042,
      </if>
      <if test="field0043 != null" >
        field0043,
      </if>
      <if test="field0044 != null" >
        field0044,
      </if>
      <if test="field0045 != null" >
        field0045,
      </if>
      <if test="field0046 != null" >
        field0046,
      </if>
      <if test="field0047 != null" >
        field0047,
      </if>
      <if test="sort != null" >
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="formmain0114id != null" >
        #{formmain0114id,jdbcType=BIGINT},
      </if>
      <if test="field0041 != null" >
        #{field0041,jdbcType=DATE},
      </if>
      <if test="field0042 != null" >
        #{field0042,jdbcType=VARCHAR},
      </if>
      <if test="field0043 != null" >
        #{field0043,jdbcType=BIGINT},
      </if>
      <if test="field0044 != null" >
        #{field0044,jdbcType=VARCHAR},
      </if>
      <if test="field0045 != null" >
        #{field0045,jdbcType=VARCHAR},
      </if>
      <if test="field0046 != null" >
        #{field0046,jdbcType=VARCHAR},
      </if>
      <if test="field0047 != null" >
        #{field0047,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qunar.ops.oaengine.model.Formson0116Example" resultType="java.lang.Integer" >
    select count(*) from formson_0116
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update formson_0116
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.formmain0114id != null" >
        formmain_0114id = #{record.formmain0114id,jdbcType=BIGINT},
      </if>
      <if test="record.field0041 != null" >
        field0041 = #{record.field0041,jdbcType=DATE},
      </if>
      <if test="record.field0042 != null" >
        field0042 = #{record.field0042,jdbcType=VARCHAR},
      </if>
      <if test="record.field0043 != null" >
        field0043 = #{record.field0043,jdbcType=BIGINT},
      </if>
      <if test="record.field0044 != null" >
        field0044 = #{record.field0044,jdbcType=VARCHAR},
      </if>
      <if test="record.field0045 != null" >
        field0045 = #{record.field0045,jdbcType=VARCHAR},
      </if>
      <if test="record.field0046 != null" >
        field0046 = #{record.field0046,jdbcType=VARCHAR},
      </if>
      <if test="record.field0047 != null" >
        field0047 = #{record.field0047,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update formson_0116
    set id = #{record.id,jdbcType=INTEGER},
      formmain_0114id = #{record.formmain0114id,jdbcType=BIGINT},
      field0041 = #{record.field0041,jdbcType=DATE},
      field0042 = #{record.field0042,jdbcType=VARCHAR},
      field0043 = #{record.field0043,jdbcType=BIGINT},
      field0044 = #{record.field0044,jdbcType=VARCHAR},
      field0045 = #{record.field0045,jdbcType=VARCHAR},
      field0046 = #{record.field0046,jdbcType=VARCHAR},
      field0047 = #{record.field0047,jdbcType=VARCHAR},
      sort = #{record.sort,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qunar.ops.oaengine.model.Formson0116" >
    update formson_0116
    <set >
      <if test="formmain0114id != null" >
        formmain_0114id = #{formmain0114id,jdbcType=BIGINT},
      </if>
      <if test="field0041 != null" >
        field0041 = #{field0041,jdbcType=DATE},
      </if>
      <if test="field0042 != null" >
        field0042 = #{field0042,jdbcType=VARCHAR},
      </if>
      <if test="field0043 != null" >
        field0043 = #{field0043,jdbcType=BIGINT},
      </if>
      <if test="field0044 != null" >
        field0044 = #{field0044,jdbcType=VARCHAR},
      </if>
      <if test="field0045 != null" >
        field0045 = #{field0045,jdbcType=VARCHAR},
      </if>
      <if test="field0046 != null" >
        field0046 = #{field0046,jdbcType=VARCHAR},
      </if>
      <if test="field0047 != null" >
        field0047 = #{field0047,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qunar.ops.oaengine.model.Formson0116" >
    update formson_0116
    set formmain_0114id = #{formmain0114id,jdbcType=BIGINT},
      field0041 = #{field0041,jdbcType=DATE},
      field0042 = #{field0042,jdbcType=VARCHAR},
      field0043 = #{field0043,jdbcType=BIGINT},
      field0044 = #{field0044,jdbcType=VARCHAR},
      field0045 = #{field0045,jdbcType=VARCHAR},
      field0046 = #{field0046,jdbcType=VARCHAR},
      field0047 = #{field0047,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>