#set($layout = "layout/default.vm")
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Qunar Operation</title>

        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="static/favicon.ico" />
        <link rel="stylesheet" href="static/ace/css/font-awesome.min.css" />
        <link rel="stylesheet" href="static/zTree/zTreeStyle/zTreeStyle.min.css" />
        <link rel="stylesheet" href="static/ace/css/jquery-ui-1.10.3.full.min.css" />
        <link rel="stylesheet" href="static/ace/css/bootstrap.min.css" />
        <link rel="stylesheet" href="static/ace/css/chosen.css" />
        <link rel="stylesheet" href="static/ace/css/colorbox.css" />
        <link rel="stylesheet" href="static/ace/css/ace.min.css" />
        <link rel="stylesheet" href="static/css/myplugin.css" />
        <link rel="stylesheet" href="static/jquery-loadmask/jquery.loadmask.css" />
        <link rel="stylesheet" href="static/datetimepicker/jquery.datetimepicker.min.css" />

        <script src="static/ace/js/jquery-2.0.3.min.js"></script>
        <script src="static/ace/js/ace-extra.min.js"></script>
        <script src="static/ace/js/bootstrap.min.js"></script>
        <script src="static/ace/js/ace-elements.min.js"></script>
        <script src="static/ace/js/jquery.colorbox-min.js"></script>
        <script src="static/ace/js/ace.min.js"></script>
        <script src="static/ace/js/chosen.jquery.min.js"></script>
        <script src="static/MyPlugin/jquery-ui.1.10.3.full.my.js"></script>
        <script src="static/MyPlugin/jquery.myplugin.js"></script>
        <script src="static/MyPlugin/jquery.dataTables.bootstrap.my.js"></script>
        <script src="static/datetimepicker/jquery.datetimepicker.min.js"></script>
        <script src="static/MyPlugin/jquery.validate.my.js"></script>
        <script src="static/jquery-loadmask/jquery.loadmask.min.js"></script>
        <script src="static/bootstrap-contextmenu/bootstrap-contextmenu.js"></script>
        <script src="static/datetimepicker/jquery.datetimepicker.min.js"></script>

        <style type="text/css">
            .page-content {
                background: #fff;
                margin: 0;
                padding: 8px 0px 0px 8px;
            }
            .row {
                margin: 0;
            }
            #ClCache {
                display: none;
            }
            body {
                font-family: Arial,'Times New Roman','Microsoft YaHei',SimSun; 
            }
        </style>
    </head>

	<body>
		<div class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container">
				<div class="pull-left" style="color: white; font-size: 18px; padding: 9px">
					<small>
						<i class="icon-cloud"></i>
						Qunar Operation
					</small>
				</div>
				<div class="pull-right" style="color: white; font-size: 16px; padding: 10px">
				<i class="icon-user"></i>
				<span>
					nuby.zhang&nbsp
				</span>
				<a href="/src/logout/?ret=http%3A%2F%2Fops.corp.qunar.com%2Fsrc%2Ftasks_apply%2Fphysical_server" style="color: white; font-size: 16px">
					<i class="icon-off"></i>
					注销
				</a>
				</div>
			</div><!-- /.container -->
		</div>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<div class="sidebar" id="sidebar">
					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
					</script>
					<ul class="nav nav-list">
						<li>
							<a href="index.html">
								<i class="icon-dashboard"></i>
								<span class="menu-text"> 待审批列表 </span>
							</a>
						</li>
						<li class="active">
							<a href="history.html">
								<i class="icon-dashboard"></i>
								<span class="menu-text"> 审批历史 </span>
							</a>
						</li>
					</ul><!-- /.nav-list -->

					<div class="sidebar-collapse" id="sidebar-collapse">
						<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
					</div>

					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
					</script>
				</div>

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">Home</a>
							</li>
							<li class="active">审批历史</li>
						</ul><!-- .breadcrumb -->
					</div>

					<div class="page-content">
						<div class="row">
							<div class="col-xs-12">
								<div id="common-notice-dialog" class="hide"></div>
								<div id="approve-result-dialog" class="hide"></div>
								<div id="reject-msg-dialog" class="hide"></div>
								<div id="approve-detail-dialog" class="hide"></div>
								<div class="col-xs-12">
								        <div class="form-group dash-button-group" style="margin-bottom: 0px; float: right;">
								        	<span id="system-checkbox-list" class="form-group dash-button-group" style="margin-bottom: 0px; float: left;">
	        								</span>
								        	<span class="input-icon input-icon-right">
								            	<input class= "date" id="date-from" type="text" style="width: 186px" placeholder="申请日期..." />
								                <i class="icon-calendar green"></i>
								            </span>
								             &ndash;
								            <span class="input-icon input-icon-right">
								                <input class= "date" id="date-to" type="text" style="width: 186px" placeholder="申请日期..." />
								                <i class="icon-calendar green"></i>
								            </span>
								        	<span class="input-icon input-icon-right">
								                <input id="approve-user" type="text" placeholder="申请人..." style="width: 100px"/>
								            </span>
								            <span class="input-icon input-icon-right">
								                <input id="search-text" type="text" placeholder="要搜索的关键字..." style="width: 240px"/>
								            </span>
								            <button id="search" style="width: 60px; height:28px; font-size: 14px; margin: 0px 2px 4px; font-weight: bold" class="btn btn-minier btn-primary">
								                	查询
								            </button>
								        </div>
								    </div>
								</div>
							
								<!-- PAGE CONTENT BEGINS -->
								<div id="approve-page" class="col-sm-12 widget-container-span ui-sortable">
									<div class="widget-box transparent" style="opacity: 1; z-index: 0;">
										<div class="widget-body">
											<div class="widget-main no-padding-top no-padding-left no-padding-right">
												<div class="table-responsive">
													<table id="current-approve-table" class="table table-striped table-bordered table-hover dataTable"></table>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<script src="static/approve/approve_common.js"></script>
		<script src="static/approve/approve_history.js"></script>
		<!-- inline scripts related to this page -->
        <style>
            ul#sidebar_menu>li>ul.submenu>li>a {
                padding: 7px 0 6px 32px;
                margin: 0px 0 0px 20px;
            }
            ul#sidebar_menu>li>ul.submenu>li>ul.submenu>li>a {
                padding: 6px 0 4px 30px;
                margin: 0px 0 0px 40px;
            }
            ul#sidebar_menu>li>ul.submenu>li>ul.submenu>li>ul.submenu>li>a {
                padding: 5px 0 3px 30px;
                margin: 0px 0 0px 60px;
            }
            ul#sidebar_menu>li>ul.submenu>li>ul.submenu:before {
                content: "";
                display: block;
                position: absolute;
                z-index: 1;
                left: 38px;
                top: 0;
                bottom: 0;
                border: 1px dotted #9dbdd6;
                border-width: 0 0 0 1px;
            }
            ul#sidebar_menu>li>ul.submenu>li>ul.submenu>li>ul.submenu:before {
                content: "";
                display: block;
                position: absolute;
                z-index: 1;
                left: 58px;
                top: 0;
                bottom: 0;
                border: 1px dotted #9dbdd6;
                border-width: 0 0 0 1px;
            }
            ul#sidebar_menu>li>ul.submenu>li:before {
                content: "";
                display: inline-block;
                position: absolute;
                width: 7px;
                left: 20px;
                top: 16px;
                border-top: 1px dotted #9dbdd6;
        }
        ul#sidebar_menu>li>ul.submenu>li>ul.submenu>li:before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 7px;
            left: 40px;
            top: 12px;
            border-top: 1px dotted #9dbdd6;
        }
        ul#sidebar_menu>li>ul.submenu>li>ul.submenu>li>ul.submenu>li:before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 7px;
            left: 60px;
            top: 12px;
            border-top: 1px dotted #9dbdd6;
        }
        ul#sidebar_menu>li>ul.submenu>li.active>a:after {
            display: block;
            content: "";
            position: absolute!important;
            right: 0;
            top: 3px;
            border: 8px solid transparent;
            border-width: 12px 9px;
            border-right-color: #2b7dbc;
        }
        ul#sidebar_menu>li>ul.submenu>li>ul.submenu>li.active>a:after {
            display: block;
            content: "";
            position: absolute!important;
            right: 0;
            top: 3px;
            border: 8px solid transparent;
            border-width: 10px 7px;
            border-right-color: #2b7dbc;
        }

        ul#sidebar_menu>li>ul.submenu>li>ul.submenu>li>ul.submenu>li.active>a:after {
            display: block;
            content: "";
            position: absolute!important;
            right: 0;
            top: 4px;
            border: 8px solid transparent;
            border-width: 8px 6px;
            border-right-color: #2b7dbc;
        }

        ul#sidebar_menu>li>ul.submenu>li a:hover {
            text-decoration:none;
        }
        ul#sidebar_menu>li .submenu>li>a {
            border: 0px dotted #e4e4e4;
            border-bottom: 1px dotted #e4e4e4;
        }

        ul#sidebar_menu>li.open:after {
            display: inline-block;
            content: "";
            position: absolute;
            right: -2px;
            top: -1px;
            bottom: 0;
            z-index: 1;
            border: 2px solid #2b7dbc;
            border-width: 0 2px 0 0;
        }

        ul#sidebar_menu>li>ul.submenu>li>a>[class*="icon-"]:first-child {
            display: block;
            font-size: 12px;
            font-weight: normal;
            width: 18px;
            height: auto;
            line-height: 12px;
            text-align: center;
            position: absolute;
            left: 10px;
            top: 11px;
            z-index: 1;
            background-color: #FFF;
        }

        ul#sidebar_menu>li>ul.submenu>li>ul.submenu>li>a>[class*="icon-"]:first-child {
            display: block;
            font-size: 12px;
            font-weight: normal;
            width: 18px;
            height: auto;
            line-height: 12px;
            text-align: center;
            position: absolute;
            left: 10px;
            top: 7px;
            z-index: 1;
            background-color: #FFF;
        }

        ul#sidebar_menu>li>ul.submenu>li>ul.submenu>li>ul.submenu>li>a>[class*="icon-"]:first-child {
            display: block;
            font-size: 12px;
            font-weight: normal;
            width: 18px;
            height: auto;
            line-height: 12px;
            text-align: center;
            position: absolute;
            left: 10px;
            top: 6px;
            z-index: 1;
            background-color: #FFF;
        }

        </style>
	</body>
</html>
