<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>去哪儿网校园招聘</title>
	<link rel="stylesheet" href="/static/pc/css/style.min.css" />
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script src="/static/pc/pc.js"></script>
</head>
<body>
	<div class="wrap">
		<div class="bg">
			<div class="bg_1">
				<div class="wrap-1000">
					<div class="title-name" id="name">$name</div>
					<div class="title-root" id="room">$room</div>
				</div>
			</div>
			<div class="bg_2"></div>
			<div class="bg_3"></div>
			<div class="bg_4"></div>
			<div class="bg_5"></div>
			<div class="bg_6"></div>			
		</div>
		<div class="banner">
			<ul class="nav" id="showView">
				#foreach($info in $message)
				<li class="item item-wait">
					<div class="room">$info.get(0).room</div>
					<div class="state">-${info.get(0).status}-</div>
					<div class="name">$!info.get(1).name</div>
					<div class="job">$!info.get(1).job</div>
				</li>
				#end
			</ul>
		</div>
	</div>
</body>
</html>