<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>去哪儿网校园招聘</title>
	<link rel="stylesheet" href="/static/pc/css/style.min.css" />
	<script type="text/javascript" src="/static/js/jquery.js"></script>
</head>
<body>
	<div class="wrap">
		<div class="bg">
			<div class="bg_1">
				<div class="wrap-1000">
					<div class="title-name">马宝存</div>
					<div class="title-root">203房间</div>
				</div>
			</div>
			<div class="bg_2"></div>
			<div class="bg_3"></div>
			<div class="bg_4"></div>
			<div class="bg_5"></div>
			<div class="bg_6"></div>			
		</div>
		<div class="banner">
			<ul class="nav">
				<li class="item item-wait">
					<div class="room">201</div>
					<div class="state">-等待中-</div>
					<div class="name">马宝存</div>
					<div class="job">Dev</div>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>