#set($layout = "layout/layout.vm")
<div class="col-xs-12">
    <!-- PAGE CONTENT BEGINS -->

    <h3 class="header smaller lighter blue">流程定义列表</h3>

    <div class="row">
        <div class="col-sm-12">
            <div class="widget-box">
                <div class="widget-header">
                    <h4>流程定义列表
                    </h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                       <table width="100%" class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<td colspan="5">总数:$totalCount</td>
			</tr>
			<tr>
				<th>流程KEY</th>
				<th>审批类型</th>
				<th>URL</th>
				<th>流程名称</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			#foreach($object in $page)
				<tr>
					<td>$object[0]</td>
					<td>$object[1]</td>
					<td>$object[2]</td>
					<td>$object[3]</td>
					<td>
                        <a href="javascript:onDelete('$object[0]');">删除</a>
                    </td>
				</tr>
			#end
		</tbody>
	</table>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PAGE CONTENT ENDS -->
</div>

<div class="col-xs-12">
    <!-- PAGE CONTENT BEGINS -->

    <h3 class="header smaller lighter blue">添加审批流程</h3>

    <div class="row">
        <div class="col-sm-12">
            <div class="widget-box">
                <div class="widget-header">
                    <h4>
                        
                    </h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table>
                            <tr>
                                <td colspan=5>
                                </td>
                            </tr>
                            <tr>
                                <td>流程ID(KEY):</td>
                                <td><select name="key" id="key" style="width: 210px; height:30px;">
                                	<option selected="selected">请选择流程Key</option>
                                	</select>
                                    <div class="space-4"></div>
                                </td>
                            </tr>

                            <tr>
                                <td>类型(TYPE):</td>
                                <td>
                                <select name="type" id="type" style="width: 210px; height:30px;">
                                <option value="" selected="selected">请选择审批类型</option>
                                <option value="s">单条审批</option>
                                <option value="m">批量审批</option>
                                </select>

                                    <div class="space-4"></div>
                                </td>
                            </tr>
							<tr>
                                <td>应用地址(URL):</td>
                                <td><input type="text" id="url" name="url" value="" style="width: 210px; height:30px;"/>

                                    <div class="space-4"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>应用名称(NAME):</td>
                                <td><input type="text" id="name" name="name" value="" style="width: 210px; height:30px;"/>

                                    <div class="space-4"></div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="button" value=" 保 存 " onclick="add_process_list()"/></td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PAGE CONTENT ENDS -->
</div>
<script language=JavaScript>

jQuery(function ($) {
    $.ajax({
        dataType: 'json',
        url: 'approve/get_process',
        type: "GET",
        success: function (resp) {
        	console.log(resp);
            var id = "key";
            var len = resp.length;
            //$("#" + id).find("option").remove();
            //var opstr = $.parseStr('<option value="%s" selected="selected">%s</option>', value, value);
            //$("#" + id).append(opstr);
            var r_len = resp.length;
            for (var i = 0; i < r_len; i++) {
                opstr = $.parseStr('<option value="%s">%s</option>', resp[i], resp[i]);
                $("#" + id).append(opstr);
            }
        },
        error: function (jqXHR, textStatus, errorThrown) {
            alert('网络错误，请刷新后重试!');
        }
    })

});
function add_process_list() {
	var expre = /http(s)?:////([\w-]+\.)+[\w-]+(\/[\w- .\/?%&=]*)?/; 
	var regexp = new RegExp(expre); 
	var url = $("#url").val();
	if(!regexp.test(url)){
		alert("url地址错误或含有非法字符，请检查");
		return;
	}
    var params = {
        "key": $("#key").val(),
        "type": $("#type").val(),
        "url": $("#url").val(),
        "name": $("#name").val()
    }
    
    $.ajax({
        contentType: "application/json; charset=utf-8",
        url: 'approve/add/process',
        type: "POST",
        data: JSON.stringify(params),
        success: function (resp) {
            console.log(resp.data);
            alert(resp.data);
            window.location.reload();
        },
        error: function (jqXHR, textStatus, errorThrown) {
            alert('网络错误，请刷新后重试!');
        }
    })
}
function onDelete(value){
	if (confirm("确认删除！")) window.location = "approve/delete?key=" + value ;
}

//替换方法
(function ($) {
    $.parseStr = function (str) {
        var args = [].slice.call(arguments, 1),
                i = 0;
        return str.replace(/%s/g, function () {
            return args[i++];
        });
    }
})(jQuery);
	
</script>