#set($layout = "layout/layout.vm")
<h3 class="header smaller lighter blue">部署新流程</h3>
<div class="row">
<div class="col-sm-4">
<div class="widget-box">
	<div class="widget-header">
		<h4>选择流程定义文件</h4>
	</div>

	<div class="widget-body">
		<div class="widget-main">
			<form action="admin/deploy" method="post" enctype="multipart/form-data">
				<input type="file" name="file" />
				<input type="submit" value="上传" />
			</form>
		</div>
	</div>
	
	
</div>
</div>
</div>