#set($layout = "layout/layout.vm")
<style type="text/css">
td input{
	width: 100%;
	text-align: center;
	color: red;
	font-size: larger;
}
td {
	text-align: center;
}

</style>
<div id="common-notice-dialog" class="hide"></div>
<div class="col-xs-12">
<!-- PAGE CONTENT BEGINS -->
<div style="text-align: center" class="col-xs-9">
    <h3 class="header smaller lighter blue" style="margin-left: auto;margin-right: auto;">日常费用报销单</h3>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-xs-9" style="border:solid 1px; background-color: #f0f0f0;text-align: center;"><span
                style="font-size:18px">个人基本信息</span></div>
        <table style="border-collapse:collapse;" border="1" class="col-xs-9">
            <tr>
                <td>申请人</td>
                <td><input type="text" id="user_name"></td>
                <td>员工编号</td>
                <td><input type="text" id="sn"></td>
                <td>申请日期</td>
                <td><input type="text" id="cur_time"  style="color:red"></td>
            </tr>
            <tr>
                <td>一级部门</td>
                <td><input type="text" id="dept_level1"></td>
                <td>申请部门</td>
                <td><input type="text" id="dept_level2"></td>
                <td>部门编号</td>
                <td><input type="text" id="depa_sn"></td>
            </tr>
            <tr>
            	<td>是否直接向VP汇报</td>
                <td><form action="" method="get">
                <input name="Fruit" type="radio" style="width:25% !important"/><span style="width:10%">是</span>
                <input name="Fruit" type="radio" checked="true" style="width:25% !important"/><span style="width:10%">否</<span>
                </form></td>
                <td>银行卡号</td>
                <td><input type="text" id="bank_no"></td>
                <td>银行开户行</td>
                <td><input type="text" id="bank_name"></td>
            </tr>
            <tr>
                <td>是否有借款</td>
                <td>
                <form action="" method="get">
                <input name="Fruit" type="radio" style="width:25% !important"/><span style="width:10%">是</span>
                <input name="Fruit" type="radio" checked="true" style="width:25% !important"/><span style="width:10%">否</<span>
                </form>
                </td>
                <td>借款单流水号</td>
                <td><input type="text" id="debt_no"></td>
                <td>借款金额</td>
                <td><input type="text" id="debt_count"></td>
            </tr>
            <tr>
        </table>
        <table style="border-collapse:collapse;" border="1" class="col-xs-9">
            <tr>
                <td>报销金额总计</td>
                <td><input type="text" value="0"></td>
            </tr>
        </table>
    </div>

</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-xs-9" style="border:solid 1px; background-color: #f0f0f0;text-align: center;"><span
                style="font-size:18px">出租车费明细(含汽车燃油费)</span></div>
        <table  style="border-collapse:collapse;" border="0" cellpadding="2" cellspacing="1" class="col-xs-9"
        		id="table1">
            <tr>
                <td bgcolor="#96E0E2">日期</td>
                <td bgcolor="#96E0E2">起点</td>
                <td bgcolor="#96E0E2">终点</td>
                <td bgcolor="#96E0E2">具体时间</td>
                <td bgcolor="#96E0E2">用途</td>
                <td bgcolor="#96E0E2">同行人(姓名)</td>
                <td bgcolor="#96E0E2">工时</td>
                <td bgcolor="#96E0E2">金额</td>
                <td bgcolor="#96E0E2">备注</td>
                <td bgcolor="#96E0E2"><input type="button" name="Submit" value="添加报销" onclick="AddSignRow()" /> </td>
            </tr>
            <tr>
                <td><span class="input-icon input-icon-right">
                <input id="c_date0" type="text"/>
                <i class="icon-calendar green" name="c_green"></i>
            </span></td>
                <td><input type="text" id="c_start0"></td>
                <td><input type="text" id="c_end0"></td>
                <td><input type="text" id="c_time0"></td>
                <td><input type="text" id="c_usage0"></td>
                <td><input type="text" id="c_acompany0"></td>
                <td><input type="text" id="c_work_hour0"></td>
                <td><input type="text" id="c_money0"></td>
                <td><input type="text" id="c_remark0"></td>
                <td>&nbsp;</td>
                
            </tr>
        </table>
        <table style="border-collapse:collapse;" border="1" class="col-xs-9">
            <tr>
                <td>金额总计</td>
                <td><input type="text" value="0"></td>
            </tr>
        </table>
        
    </div>

</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-xs-9" style="border:solid 1px; background-color: #f0f0f0;text-align: center;"><span
                style="font-size:18px">通信费</span></div>
        <table style="border-collapse:collapse;" border="1" class="col-xs-9">
            <tr>
                <td>金额</td>
                <td><input type="text"></td>
                <td>备注(话费实际发生月份)</td>
                <td><input type="text" value="0"></td>
            </tr>
        </table>
    </div>

</div>

<div class="row">
    <div class="col-sm-12">
        <div class="col-xs-9" style="border:solid 1px; background-color: #f0f0f0;text-align: center;"><span
                style="font-size:18px">餐费明细(每人每餐报销不超过50元)</span></div>
        <table style="border-collapse:collapse;" border="1" class="col-xs-9">
            <tr>
                <td>日期</td>
                <td>就餐地点</td>
                <td>同行人(姓名)</td>
                <td>就餐人数</td>
                <td>实报金额</td>
                <td>人均餐费</td>
                <td>发票金额</td>
                <td>工时</td>
                <td>备注</td>
            </tr>
            <tr>
            <td><span class="input-icon input-icon-right">
            <input id="t_date_from1" type="text"/>
            <i class="icon-calendar green"></i>
        </span></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
            </tr>
        </table>
        <table style="border-collapse:collapse;" border="1" class="col-xs-9">
            <tr>
                <td>金额总计</td>
                <td><input type="text" value="0"></td>
            </tr>
        </table>
    </div>

</div>

<div class="row">
    <div class="col-sm-12">
        <div class="col-xs-9" style="border:solid 1px; background-color: #f0f0f0;text-align: center;"><span
                style="font-size:18px">招待费明细</span></div>
        <table style="border-collapse:collapse;" border="1" class="col-xs-9">
            <tr>
                <td>日期</td>
                <td>地点</td>
                <td>业务目的</td>
                <td>客户单位</td>
                <td>客户姓名</td>
                <td>参加人数</td>
                <td>金额</td>
            </tr>
            <tr>
            <td><span class="input-icon input-icon-right">
            <input id="z_date_from1" type="text"/>
            <i class="icon-calendar green"></i>
        </span></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
            </tr>
        </table>
        <table style="border-collapse:collapse;" border="1" class="col-xs-9">
            <tr>
                <td>金额总计</td>
                <td><input type="text" value="0"></td>
            </tr>
        </table>
    </div>

</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-xs-9" style="border:solid 1px; background-color: #f0f0f0;text-align: center;"><span
                style="font-size:18px">员工关系费明细</span></div>
        <table style="border-collapse:collapse;" border="1" class="col-xs-9">
            <tr>
                <td>日期</td>
                <td>地点</td>
                <td>同行人(姓名)</td>
                <td>活动目的</td>
                <td>金额</td>
                <td>备注</td>
            </tr>
            <tr>
            <td><span class="input-icon input-icon-right">
            <input id="y_date_from1" type="text"/>
            <i class="icon-calendar green"></i>
        </span></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
            </tr>
        </table>
        <table style="border-collapse:collapse;" border="1" class="col-xs-9">
            <tr>
                <td>金额总计</td>
                <td><input type="text" value="0"></td>
            </tr>
        </table>
    </div>

</div>

<div class="row">
    <div class="col-sm-12">
        <div class="col-xs-9" style="border:solid 1px; background-color: #f0f0f0;text-align: center;"><span
                style="font-size:18px">其他费用</span></div>
        <table style="border-collapse:collapse;" border="1" class="col-xs-9">
            <tr>
                <td>费用项目</td>
                <td>金额</td>
                <td>备注</td>
            </tr>
            <tr>
                <td><input type="text"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
            </tr>
        </table>
        <table style="border-collapse:collapse;" border="1" class="col-xs-9">
            <tr>
                <td>金额总计</td>
                <td><input type="text" value="0"></td>
            </tr>
        </table>
    </div>

</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-xs-9" style="border:solid 1px; background-color: #f0f0f0;text-align: center;"><span
                style="font-size:18px">审批记录</span></div>
        <table style="border-collapse:collapse;" border="1" class="col-xs-9">
            <tr>
                <td>本部门主管意见<input type="text" style="width: 50%"></td>
                <td>部门总监意见<input type="text" style="width: 50%"></td>
            </tr>
            <tr>
                <td>部门VP意见<input type="text" style="width: 50%"></td>
                <td>财务总监意见<input type="text" style="width: 50%"></td>
            </tr>
            <tr>
                <td>CFO意见<input type="text" style="width: 50%"></td>
                <td>CEO意见<input type="text" style="width: 50%"></td>
            </tr>
            <tr>
                <td>报销审核组<input type="text" style="width: 50%"></td>
                <td>出纳<input type="text" style="width: 50%"></td>
            </tr>
        </table>

    </div>

</div>

</div>
<div class="row">
<div class="col-sm-12">
<div style="float:right;margin-top:20px;margin-bottom:10px; margin-right:30%;">
<button class="btn btn-info" type="button"
        onclick="submitPhoneFormRight(true);">
    <i class="icon-arrow-right bigger-110"></i>
    保存并提交
</button>
<button class="btn btn-info" type="button"
        onclick="submitPhoneFormRight(false);">
    <i class="icon-arrow-up bigger-110"></i>
    暂存草稿
</button>
<button class="btn" type="reset">
    <i class="icon-undo bigger-110"></i>
    取消申请
</button>
</div>
<div>
<table width="613" border="0" cellpadding="2" cellspacing="1" id="SignFrame">
              <tr id="trHeader">
                <td width="27" bgcolor="#96E0E2">序号</td>
                <td width="64" bgcolor="#96E0E2">用户姓名</td>
                <td width="98" bgcolor="#96E0E2">电子邮箱</td>
                <td width="92" bgcolor="#96E0E2">固定电话</td>
                <td width="86" bgcolor="#96E0E2">移动手机</td>
                <td width="153" bgcolor="#96E0E2">公司名称</td>
              </tr>
        </table>
   </div>
   <div>
        <input type="button" name="Submit" value="添加参与人" onclick="AddSignRow()" /> 
     <input type="button" name="Submit2" value="清空" onclick="ClearAllSign()" />
     <input name='txtTRLastIndex' type='hidden' id='txtTRLastIndex' value="1" />
   </div>
<script src="static/js/utils.js"></script>
<script src="static/js/dialog_common.js"></script>
<script src="static/My97DatePicker/WdatePicker.js"></script>
<script language=JavaScript>

jQuery(function ($) {
//	$.ajax({
//		contentType: "application/json; charset=utf-8",
//		dataType: 'json',
//		url: "admin/employeeinfo",
//		type: "GET",
//        success: function (resp) {
//			console.log(resp);
//        	if(resp.errorCode == 0){
//        		var data = resp.data;
//        		$("#user_name").val(data[0]);
//        		$("#sn").val(data[1]);
//        		$("#cur_time").val(data[2]);
//        		$("#dept_level1").val(data[3]);
//        		$("#dept_level2").val(data[4]);
//        	}else{
//        		showCommonNoticeDialog('失败', 'icon-warning-sign',
//        		        generateNoticeMsg(resp.errorMessage), 300);
//        	}
//        },
//        error: function (jqXHR, textStatus, errorThrown) {
//        	showCommonNoticeDialog('网络错误', 'icon-bolt',
//        	        generateNoticeMsg('网络错误，请刷新后重试!'), 300);
//        }
//    })
    $("#c_date0").on('click', function () {
        WdatePicker({dateFmt: 'yyyy-MM-dd'});
        var params = {
    	        "whichDay": $("#c_date0").val()
    	    }
    	$.ajax({
    		contentType: "application/json; charset=utf-8",
    		url: "oa/laborhour",
    		type: "POST",
    		data: JSON.stringify(params),
            success: function (resp) {
    			console.log(resp);
            	if(resp.errorCode == 0){
            		var data = resp.data;
            		$("#c_work_hour0").val(data[0]);
            	}else{
            		showCommonNoticeDialog('失败', 'icon-warning-sign',
            		        generateNoticeMsg(resp.errorMessage), 300);
            	}
            },
            error: function (jqXHR, textStatus, errorThrown) {
            	showCommonNoticeDialog('网络错误', 'icon-bolt',
            	        generateNoticeMsg('网络错误，请刷新后重试!'), 300);
            }
        })
    });
	$("#t_date_from1").on('click', function () {
        WdatePicker({dateFmt: 'yyyy-MM-dd'});
    });
	$("#z_date_from1").on('click', function () {
        WdatePicker({dateFmt: 'yyyy-MM-dd'});
    });
	$("#y_date_from1").on('click', function () {
        WdatePicker({dateFmt: 'yyyy-MM-dd'});
    });
	
});

function getNeedGoal(id, doc) {
    var p, needGoal;
    if (!doc) {
        doc = document;
    }
    if ((p = id.indexOf("?")) > 0 && parent.frames.length) {
        doc = parent.frames[id.substring(p + 1)].document;
        id = id.substring(0, p);
    }
    if (!(needGoal = doc[id]) && doc.all) {
        needGoal = doc.all[id];
    }
    for (var i = 0; !needGoal && i < doc.forms.length; i++) {
        needGoal = doc.forms[i][id];
    }
    for (i = 0; !needGoal && doc.layers && i < doc.layers.length; i++) {
        needGoal = getNeedGoal(id, doc.layers[i].document);
    }
    if (!needGoal && document.getElementById) {
        needGoal = document.getElementById(id);
    }
    return needGoal;
}
//添加一个参与人填写行
function AddSignRow() { //读取最后一行的行号，存放在txtTRLastIndex文本框中
	var tableId = "table1";
    var txtTRLastIndex = getNeedGoal("txtTRLastIndex", document);
    var rowId = parseInt(txtTRLastIndex.value);

    var signFrame = getNeedGoal(tableId, document);
    var newTR = signFrame.insertRow(signFrame.rows.length);
    newTR.id = tableId + rowId;
    if (tableId == "table1") {
        var cell0 = newTR.insertCell(0);
        cell0.innerHTML = $.parseStr('<span class="input-icon input-icon-right"><input id="%s" type="text"/>' +
                '<i class="icon-calendar green"></i></span>', "c_date" + rowId);
        $("#c_date"+rowId).val($("#c_date"+(rowId-1)).val());
        var c_list = ["c_start", "c_end", "c_time", "c_usage", "c_acompany", "c_work_hour", "c_money", "c_remark"];
        var c_len = c_list.length;
        for(var i = 0; i < c_len; i++){
            var cell = newTR.insertCell(i+1);
            cell.innerHTML = $.parseStr('<input id="%s" type="text"/>', c_list[i] + rowId);
            $("#"+c_list[i] + rowId).val($("#"+c_list[i] + (rowId - 1)).val());
        }
        var cell9 = newTR.insertCell(9);
        cell9.innerHTML = "<div align='center' style='width:40px'><a href='javascript:;' onclick=\"DeleteSignRow('table1" + rowId + "')\">删除</a></div>";
        $("#c_date" + rowId).on('click', function () {
            WdatePicker({dateFmt: 'yyyy-MM-dd'});
        });
        $("#c_date" + rowId).change(function () {
            if ($("#c_date" + rowId).val() != "") {
            	var params = {
            	        "whichDay": $("#c_date" + rowId).val()
            	    }
            	$.ajax({
            		contentType: "application/json; charset=utf-8",
            		url: "oa/laborhour",
            		type: "POST",
            		data: JSON.stringify(params),
                    success: function (resp) {
            			console.log(resp);
                    	if(resp.errorCode == 0){
                    		var data = resp.data;
                    		$("#c_work_hour"+rowId).val(data[0]);
                    	}else{
                    		showCommonNoticeDialog('失败', 'icon-warning-sign',
                    		        generateNoticeMsg(resp.errorMessage), 300);
                    	}
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    	showCommonNoticeDialog('网络错误', 'icon-bolt',
                    	        generateNoticeMsg('网络错误，请刷新后重试!'), 300);
                    }
                })
            }
        });
    }

    txtTRLastIndex.value = (rowId + 1).toString();
}
//删除指定行
function DeleteSignRow(rowId) {
	var tableId = "table1";
    var signFrame = getNeedGoal(tableId, document);
    var signItem = getNeedGoal(rowId, document);

    //获取将要删除的行的Index
    var rowIndex = signItem.rowIndex;

    //删除指定Index的行
    signFrame.deleteRow(rowIndex);

}//清空列表

</script>