#set($layout = "layout/layout.vm")
<div class="row">
<div class="col-xs-12">
    <iframe style="display:none" name="export"></iframe>
    <form id="form1" action="/user/?do=export" target="export" method="POST">
        <div class="form-group dash-button-group">
            <input type="button" id="today" class="btn btn-minier btn-success" value="今天">
            <input type="button" id="week" class="btn btn-minier btn-warning" value="本周">
            <input type="button" id="last_month" class="btn btn-minier btn-info" value="上月">
            <input type="button" id="month" class="btn btn-minier btn-pink" value="本月">
                            <span class="input-icon input-icon-right">
                                <input name="start_date" id="card-date-from" type="text">
                                <i class="icon-calendar green"></i>
                            </span>
                            <span class="input-icon input-icon-right">
                                <input name="end_date" id="card-date-to" type="text">
                                <i class="icon-calendar green"></i>
                            </span>
            <input id="card-display-name" type="hidden" value="">
            <input id="is-plus" type="checkbox">
            <label for="is-plus">是否加班</label>
            <input type="button" id="search" class="btn btn-minier btn-primary" value="查询">
            <input onclick="$('form1').submit()" type="submit" id="export" class="btn btn-minier btn-primary"
                   value="导出">
            <input onclick="$('form1').submit()" type="submit" id="export_sub" name="sub"
                   class="btn btn-minier btn-primary" value="导出下属">
        </div>
    </form>
</div>
</div>
<div class="row">
<div class="col-xs-12">
    <div class="table-header">
        申请报销信息
    </div>
    <div class="table-responsive" id="card_s">
        <div id="ems_table_wrapper" class="dataTables_wrapper" role="grid">
            <table id="ems_table" class="table table-striped table-bordered table-hover dataTable"
                   aria-describedby="ems_table_info" style="width: 100%;">

            </table>

        </div>
    </div>
</div>
</div>

<script language=JavaScript>

jQuery(function ($) {
    $.ajax({
        dataType: 'json',
        url: 'approve/get_process',
        type: "GET",
        success: function (resp) {
        	console.log(resp);
            var id = "key";
            var len = resp.length;
            //$("#" + id).find("option").remove();
            //var opstr = $.parseStr('<option value="%s" selected="selected">%s</option>', value, value);
            //$("#" + id).append(opstr);
            var r_len = resp.length;
            for (var i = 0; i < r_len; i++) {
                opstr = $.parseStr('<option value="%s">%s</option>', resp[i], resp[i]);
                $("#" + id).append(opstr);
            }
        },
        error: function (jqXHR, textStatus, errorThrown) {
            alert('网络错误，请刷新后重试!');
        }
    })

});
function add_process_list() {
	var expre = /http(s)?:////([\w-]+\.)+[\w-]+(\/[\w- .\/?%&=]*)?/; 
	var regexp = new RegExp(expre); 
	var url = $("#url").val();
	if(!regexp.test(url)){
		alert("url地址错误或含有非法字符，请检查");
		return;
	}
    var params = {
        "key": $("#key").val(),
        "type": $("#type").val(),
        "url": $("#url").val(),
        "name": $("#name").val()
    }
    
    $.ajax({
        contentType: "application/json; charset=utf-8",
        url: 'approve/add/process',
        type: "POST",
        data: JSON.stringify(params),
        success: function (resp) {
            console.log(resp.data);
            alert(resp.data);
            window.location.reload();
        },
        error: function (jqXHR, textStatus, errorThrown) {
            alert('网络错误，请刷新后重试!');
        }
    })
}
function onDelete(value){
	if (confirm("确认删除！")) window.location = "approve/delete?key=" + value ;
}

//替换方法
(function ($) {
    $.parseStr = function (str) {
        var args = [].slice.call(arguments, 1),
                i = 0;
        return str.replace(/%s/g, function () {
            return args[i++];
        });
    }
})(jQuery);
	
</script>