<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>批次管理</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/static/css/style.css" />
	<link rel="stylesheet" href="/static/css/module.css" />
	<link rel="stylesheet" href="/static/css/page.css" />
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/jquery.page.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>
	<script type="text/javascript" src="/static/js/recruit/phase_manage.js"></script>
</head>
<body>
	 <div class="l-fullsreen">
		<div class="l-container">
			<div class="l-content">
				<div class="l-inner">
					<button class="btn btn-info" type="button" id="showPhase">新建批次</button>
					<div class="m-table">
						<table class="table  table-striped table-bordered">
			              <thead>
			                <tr>
			                  <th>年份</th>
			                  <th>批次</th>
			                  <th>城市</th>
			                  <th>操作</th>
			                </tr>
			              </thead>
			              <tbody>
			                #foreach($info in $list)
			                <tr>
			                  <td>$info.yearInfo</td>
			                  <td>$info.phaseName</td>
			                  <td>$info.cityName</td>
			                  <td>
			                  	<a href="#" id="edit" onclick="addOrupd('$info.yearInfo','$info.phaseName')">添加或修改</a>
			                  	<a href="#" id="edit" onclick="setOver('$info.yearInfo','$info.phaseName')">归档</a>
			                  </td>
			                </tr>
			                #end
			              </tbody>
			            </table>
					</div>
				</div>
				<input type="hidden" id="curr" value="4">
				<div class="tcdPageCode"></div>
			</div>
		</div>
		<div id="addphaseform" class="l-inner modal hide fade in" style="display:none;">
					<div class="modal-header" style="text-align:center">
        				<a class="close" data-dismiss="modal" onclick="doclose()">×</a>
        				<h3>添加批次</h3>
    				</div>
					<div class="modal-body">
						<form class="form-horizontal">
                			<div class="control-group">
								<label class="control-label" for="yearInfo">年份</label>
								<div class="controls">
								  <input type="text" id="yearInfo" placeholder="必填">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="phaseName">批次名称</label>
								<div class="controls">
								  <input type="text" id="phaseName" placeholder="必填">
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer" style="text-align:center;">
						<div>
							<button id="addPhase" type="button" class="btn">添加</button>
                    		<button onclick="doclose()" type="button" class="btn">取消</button>
						</div>
					</div>
		</div>
	</div>
</body>
</html>